.tooltip.nav-item
  .tooltip-inner
    padding 0


.tooltip.nav-item
  tooltip-background-color(dark)
  .tooltip-inner
    padding-top 1px
    border-radius 0
    font-size 0.8rem
    line-height 1.5
    min-height gd(3)
  // put padding on content containers
  // so that we can allow width/padding
  // to be on the same container
  .tooltip-content-title
    margin-top 0.5em
    margin-bottom 0
    // no vertical padding, h{n} tag provides vertical space
    padding-left 1em
    padding-right 1em
  .tooltip-content-body
    width 180px
    padding-top 0
    padding 1em
    // centering for when content title is wider than body
    margin-left auto
    margin-right auto
