

body.mission
  .app-footer
    margin-top 4rem

  .introduction
    background-image url('/images/white-hash-20.png')

  .moodshot
    background-image  url('/images/mission-moodshot.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center



// Limay section
// --------------------------------------------------

.limay
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-bottom 1px solid grayMuted

.limay-map-container
  padding 0

.limay-map
  height 900px

.limay-map-tip
  background url('/images/white-hash-20.png') yellow
.map-tip-icon
  width 24px
  padding-top 2px
.map-tip-content
  padding-top 6px
  padding-left 1rem



// Essay Sections
// --------------------------------------------------

.chapter-title
  width 400px

.chapter-text
  column-width 400px
  column-gap 60px

.essay-chapter-2
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-top 1px solid grayMuted
  border-bottom 1px solid grayMuted
