app-nav-dark  = lighten(dark, 10)
app-nav-light = saturate(lighten(light, 12),15)

// TODO make themeing modular?


.app-header
  background-color nlight

.app-brand-container
  height gd(10)

.app-navbar
  padding-bottom gd(2)
  padding-right gd(2)

  .nav-list
    margin-bottom 0
    //undo bootstrap
    padding 0

  .nav-item + .nav-item
    border-left 1px solid ndark-subtle

  // sometimes we need to meld the nav item
  // dividers into the highlight
  .nav-item.current-view
  .nav-item.current-view + .nav-item
  .nav-item:hover
  .nav-item:hover + .nav-item
    border-left-color ndark

  .nav-item
    .nav-link
      color ndark-text
      font-size 18px
      text-transform capitalize
    &.current-view
    &:hover
      .nav-link
        background-color ndark
        color nlight-text
    &.current-view
      .nav-link
        cursor default

  .nav-link
    padding gd(.5) gd(1.25)

    // undo bootstrap
    margin 0!important
    text-shadow none
    &:hover
      background none
    // undo end
