

.app-footer
  .stripe
    height gd(1)
    top gd(-1/2)
    background-image url('/images/dark-hash-10.png')
    z-index 10

  .co2r-logo
    square(30px)
    margin-right 10px
    margin-left -40px

.app-footer-content
  background-image url('/images/white-hash-20.png')

.block
  display block
