.app-footer
  .co2r-logo
    square(30px)
    margin-right 10px
    margin-left -40px

  .stripe
    height gd(1)
    top gd(-1/2)
    background-image url('/images/dark-hash-10.png')

.app-footer-content
  background url('/images/white-hash-20.png') ngreen2
  padding gd(1)

