.app-navbar
  border-bottom 1px solid lightgrey

  .nav-list
    margin-bottom 0
    //undo bootstrap
    padding 0

  .nav-link
    padding 20px 10px
    // undo bootstrap
    margin 0

  .co2r-logo
    margin-left 10px
    square(30px)
