

body.participate
body.register-your-product
body.faq
  .app-header
    border-bottom 1px solid darkMuted

.app-brand-container
  border-right 1px solid darkMuted
  padding gd(2) gd(1.5)

.app-logo
  width 120px

.app-brand-text
  margin-left gd(1)

.app-title
  margin-top -0.5em
