.app-brand-container
  height gd(10)

.app-navbar
  padding-bottom gd(2)
  padding-right gd(2)

  .nav-list
    margin-bottom 0
    //undo bootstrap
    padding 0

  .nav-item + .nav-item
    border-left 1px solid ndark-subtle

  // sometimes we need to meld the nav item
  // dividers into the highlight
  .nav-item.current-view
  .nav-item.current-view + .nav-item
  //.nav-item:hover
  //.nav-item:hover + .nav-item
    border-left-color ndark

  .nav-item
    .nav-link
      color ndark-text
      font-size 1.1rem
      text-transform capitalize
    // Important: Source order
    // - the following selectors are in order
    //   the lower ones override the upper ones
    &:hover .nav-link
      background-color fade-out(ndark, 0.98)
      color darken(ndark-text, 20)
    &:active .nav-link
      background-color fade-out(ndark, 0.9)
      color darken(ndark-text, 20)
    &.current-view .nav-link
      cursor default
      background-color ndark
      color nlight-text

  .nav-link
    padding gd(.5) gd(1.25)

    // undo bootstrap
    margin 0!important
    text-shadow none
    &:hover
      background none
    // undo end
