body.other-things-you-can-do-to-help
body.register-your-product
body.faq
  .app-header
    border-bottom 1px solid ndark-subtle

.app-brand-container
  border-right 1px solid ndark-subtle
  padding gd(2) gd(1.5)

.app-logo
  width 120px

.app-brand-text
  margin-left gd(1)

.app-title
  font-size 1.25rem
  font-weight normal
  margin-top -0.5em

.app-navbar
  margin-top gd(6)
  margin-right gd(2)

  .nav-list
    margin-bottom 0
    //undo bootstrap
    padding 0

  .nav-item + .nav-item
    border-left 1px solid ndark-subtle

  // sometimes we need to meld the nav item
  // dividers into the highlight
  .nav-item.current-view
  .nav-item.current-view + .nav-item
  //.nav-item:hover
  //.nav-item:hover + .nav-item
    border-left-color ndark

  .nav-item
    min-width 140px
    text-align center
    .nav-link
      color ndark-text
      font-size 1.1rem
      text-transform capitalize
    // Important: Source order
    // - the following selectors are in order
    //   the lower ones override the upper ones
    &:hover .nav-link
      background-color fade-out(ndark, 0.98)
      color darken(ndark-text, 20)
    &:active .nav-link
      background-color fade-out(ndark, 0.9)
      color darken(ndark-text, 20)
    &.current-view .nav-link
      cursor default
      background-color ndark
      color nlight-text

  .nav-link
    padding gd(.5) gd(1.25)

    // undo bootstrap
    margin 0!important
    text-shadow none
    &:hover
      background none
    // undo end

.tooltip.nav-item
  .tooltip-arrow
    border-bottom-color ndark
  .tooltip-inner
    padding 1em
    font-size 0.8rem
    line-height 1.5
    width 140px
    min-height gd(3)
    background-color ndark
