

.app-footer
  .stripe
    height gd(1)
    top gd(-1/2)
    background-image url('/images/dark-hash-10.png')
    z-index 10

  .co2r-logo
    square(30px)
    margin-right 10px
    margin-left -40px

.app-footer-content
  background url('/images/white-hash-20.png') green2
  padding gd(3) gd(1) gd(2) gd(1)
