app-nav-dark  = lighten(dark, 10)
app-nav-light = saturate(lighten(light, 12),15)

// TODO make themeing modular?
// increase specificity to override bootstrap
html body

  .dark-theme .nav-item
    &.current-view
    &:hover
      background-color darken(dark, 10%)
      color lighten(light, 10)


  .nav-item
    &:hover
      background-color darken(app-nav-dark, 10%)
      color lighten(app-nav-light, 10)
    &.current-view
      a
        cursor default
      background-color darken(app-nav-dark, 20%)
      color lighten(app-nav-light, 10)


  .dark-theme .nav-link
    color light

  .nav-link
    color app-nav-light
    // undo bootstrap
    margin 0!important
    text-shadow none
    &:hover
      background none
    // undo end


.app-navbar
  .nav-item.co2r
    space-left  = 20px
    space-right = 10px
    logo-size   = 30px

    background-image url('/images/logo-white.png')
    background-position space-left 50%
    background-repeat no-repeat
    background-size logo-size
    .nav-link
      padding-left space-left + space-right + logo-size

  background-color app-nav-dark

  .nav-list
    margin-bottom 0
    //undo bootstrap
    padding 0

  .nav-link
    padding 25px 10px
    height 70px
