a:link
  text-decoration none
  color linkColor
  &:hover
    color linkColorHover
  &:visited
    color inherit
p
  margin-bottom 1em
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

h1, h2, h3, h4, h5, h6
  font-weight normal
  line-height 1
  margin-top 0.5em
  margin-bottom 0.5em
  &:last-child
    margin-bottom 0
  &:first-child
    margin-top 0
