

*
  box-sizing border-box

body
html
  padding 0
  margin 0
  font-size baseTextSize
  line-height baseTextLineHeight
  color baseTextColor
  font-family baseTextFont
body
  background-color baseBgColor



.vintage-box-models *
  box-sizing content-box
