html
  font-family arial

body, html
  padding 0
  margin 0
  font-size 16px
  // i.e. for 16px 30px line-height
  line-height 1.875

body
  background-color nlight
  color ndark-text

a:link
  text-decoration none

*
  box-sizing border-box

.vintage-box-models *
  box-sizing content-box

.unspaced
  margin-top 0
  margin-bottom 0

ul.unstyled
  margin-left 0
  margin-bottom 0

.carousel.slide
  overflow hidden
