


//
//  Base Structure
//  --------------------------------------------------



*
  box-sizing border-box

body
html
  padding 0
  margin 0

body
  background-color   baseBgColor
  font-size          text-size-base
  line-height        text-line-height-base
  color              baseTextColor
  font-family        baseTextFont

@media screen-l-up
  body
    // TODO extract magic number
    font-size 16px
