//
//  Base Structure
//  --------------------------------------------------



*
  box-sizing border-box

body
html
  padding 0
  margin 0
  font-size text-size-base
  line-height text-line-height-base
  color baseTextColor
  font-family baseTextFont
body
  background-color baseBgColor
