.hash-overlay
  background-overlay url('/images/white-hash-20.png')

.co2r-definition
  border-bottom 1px dashed hsl(0,0,75)
  color inherit
  &:hover
    background-color hsl(0,0,98)
    outline 3px solid hsl(0,0,98)

.app-footer-content
  padding gd(1)

.visually-hiden
  visibility hidden

.hidden
  display none

.ui-scrollfix.scrollfix-fixed
  position fixed

.faqs
  padding gd(2)

.dark-theme
  color nlight
  background-color ndark


/*
.co2-contrasted
  cursor default
  background-color hsl(192, 17%, 94%)
  outline 3px solid hsl(192, 17%, 94%)
  .dark-theme &
    background-color hsla(192, 17%, 94%, 0.05)
    outline 3px solid hsla(192, 17%, 94%, 0.05)
  //padding 2px 6px 4px 4px
  display inline-block
  i
    margin-top -2px
*/

.emissions-badge
  padding 6px 10px 8px 10px
  border-radius 4px
  background white

.co2-keyword:after
  content "\00a0 \f0c2 \00a0"
  font-family FontAwesome
  font-weight normal
  font-style normal
  display inline-block
  text-decoration inherit
