

.hash-overlay
  background-overlay url('/images/white-hash-20.png')

.visually-hiden
  visibility hidden

.hidden
  display none

.ui-scrollfix.scrollfix-fixed
  position fixed

.dark-theme
  color grayLight
  background-color dark

.emissions-badge
  padding 6px 10px 8px 10px
  border-radius 4px
  background white

ul.unstyled
  margin-left 0
  margin-bottom 0

.carousel.slide
  overflow hidden
