


.app-footer
  .v-span
    vertical-align middle
  .stripe
    height gd(1)
    top gd(-1/2)
    background-image url('/images/dark-hash-10.png')
    z-index 10

  .app-footer-content
    padding-top 5rem
    padding-bottom 5rem
    background-image url('/images/white-hash-20.png')

  .logo-container
    margin-bottom gd(1)
    text-align center
    height gd(6)
    border-bottom-color transparent!important
  .logo-taking-root
    max-height 90%
    max-width 90%
    vertical-align middle

  .partners
    .logo
      max-height 50%
      max-width 90%
      vertical-align middle



@media mq-screen-xs
  .partners-container
    margin-top gd(3)
  .partner:not(:last-child)
    margin-bottom 3rem

@media mq-screen-s-up
  .partners-container
    padding-left gd(1)
    margin-top 0
    padding-right 0
  .app-footer-content
    padding-right 0
  .app-epilogue
    padding-top gd(2.7)
    padding-right gd(1)
    border-right 1px solid darkMuted
