


.app-footer
  .stripe
    height gd(1)
    top gd(-1/2)
    background-image url('/images/dark-hash-10.png')
    z-index 10

  .app-footer-content
    padding gd(3) gd(1)
    background-image url('/images/white-hash-20.png')

  .logo-container
    margin-bottom gd(1)
    text-align center
    display block
    height gd(6)
    border-bottom-color transparent!important
  .logo-taking-root
    height 100%

  .partners-container
    margin-top gd(3)
  .partners
    .logo
      height 50%
      max-width 100%



@media phone-landscape-or-wider
  .partners-container
    padding-left gd(1)
    margin-top 0
    padding-right 0
  .app-footer-content
    padding-right 0
  .app-epilogue
    padding-top gd(2.7)
    padding-right gd(1)
    border-right 1px solid darkMuted
