.c-btn
  a&
    display inline-block

  border none
  color nlightText
  padding .75em 1.25em
  background-color ndark
  &:hover
    background-color darken(ndark,10)
    color lighten(nlightText, 10)

  &.c-btn-subtle
    background-color fade-out(ndark, 0.9)
    color ndarkText
    &:hover
      background-color fade-out(ndark, 0.85)
      color darken(ndarkText, 10)
    &:active
      background-color fade-out(ndark, 0.65)
      color darken(ndarkText, 20)

