

body.participate
body.register-your-product
body.faq
  .app-header
    border-bottom 1px solid darkMuted

.app-brand-container
  padding gd(2) gd(1.5)
  padding-right 0


.app-logo
  width 120px

.app-brand-text
  margin-left gd(1)

.app-title
  margin-top -0.75em

.app-brand-container
  border-bottom 1px solid darkMuted

@media (min-width: 560px)

  .app-brand-container
    border-right 1px solid darkMuted
    border-bottom none
