//  undo bootstrap
//
.tooltip.nav-item
  .tooltip-inner
    padding 0

.app-navbar
  padding 0
  list-style none
  .nav-link
    display block
    margin 0!important
    text-shadow none
    &:hover
      background none
// undo end


.app-header > .row
  padding 0

.app-navbar
  margin 0
  .nav-item
    // Important: Source order
    // - the following selectors are in order
    //   the lower ones override the upper ones
    .nav-link:hover
      background-color fade-out(dark, 0.98)
      color darken(textColorDark, 20)
    .nav-link:hover
      background-color fade-out(dark, 0.9)
      color darken(textColorDark, 20)
    &.current-view .nav-link
      cursor default
      background-color dark
      color textColorLight
  .nav-link
    padding 0.7em 1.5em
  .nav-link-icon
    font-size 1.5rem
    // vertical center because font-awesome fails by a few a pixels
    vertical-shift(0.05em)



.tooltip.nav-item
  tooltip-background-color(dark)
  .tooltip-inner
    padding-top 1px
    border-radius 0
    font-size 0.8rem
    line-height 1.5
    min-height gd(3)
  // put padding on content containers
  // so that we can allow width/padding
  // to be on the same container
  .tooltip-content-title
    margin-top 0.5em
    margin-bottom 0
    // no vertical padding, h{n} tag provides vertical space
    padding-left 1em
    padding-right 1em
  .tooltip-content-body
    width 180px
    padding-top 0
    padding 1em
    // centering for when content title is wider than body
    margin-left auto
    margin-right auto




@media mq-screen-xs
  .app-logo img
    max-width 180px
  .app-brand-container
    padding 2rem
    border-bottom 1px solid gray
    text-align center
  .app-navbar
    .nav-item
      width 100%
      a
        padding-top    1rem
        padding-bottom 1rem

@media mq-screen-s-down
  .app-brand-container
    padding 2rem!important

@media mq-screen-s-up
  .app-brand-container
    padding-right grid-gutter-width !important
    // adjust
    padding-top    3rem
    padding-bottom 3rem
    //  new
  .app-navbar
    border-left 1px solid gray
    padding-left 0!important
