
.color-theme

  a, a:link
    highlight(fade-out(white, 0.9))
    color inherit
    border-bottom 1px dashed baseTextColor
    &:hover
      highlight(fade-out(white, 0.7))
      color baseTextColor

  .text-color-inverse
    a, a:link
      border-color textColorInverse
      &:hover
        border-color baseTextColor



.blue-theme
  background-color blue

.yellow-theme
  background-color yellow
