//dark = hsl(0,0,18%)
dark  = hsl(231, 4%, 22%)
light = hsl(195, 10%, 86%)
grey  = hsl(0,0,90%)
pane-blue = hsl(207, 44%, 92%)

ndark       = hsla(0%,   0%, 27%, 1.0)
ndark-subtle = hsla(0%,   0%, 27%, 0.1)
nlight      = hsla(25%, 25%, 98%, 1.0)
nlight-text = hsla(27%,  5%, 89%, 1.0)
ndark-text  = hsla(40%, 1%, 39%, 1.0)
