

// Colors
//------------------------------------------

// Hueless

grayLightest = hsla(80.00     , 100.00% , 99.41%  , 1)
grayLight    = hsla(90        , 25%     , 98.43%  , 1)
grayMuted    = hsla(90.00     , 8.33%   , 95.29%  , 1)
gray         = hsla(25        , 3%      , 89%     , 1)
darkMuted    = hsla(0         , 0%      , 27%     , 0.1)
dark         = hsla(0         , 0%      , 27%     , 1)

// hue

yellow      = hsla(46        , 100%    , 66%     , 1)
red         = hsla(26.18     , 96.23%  , 58.43%  , 1)
blue        = hsla(194.40    , 93.98%  , 73.92%  , 1)
green       = hsla(73.04     , 56.10%  , 67.84%  , 1)
green2      = hsla(81.57     , 62.24%  , 71.96%  , 1)



// Text Colors
//------------------------------------------

textColorLight       = hsla(27 , 5% , 89% , 1)
textColorDark        = hsla(40 , 1% , 39% , 1)
// text color used when text is on top of another color
// TODO this is basically broken?
textColorDarkOnColor = hsla(40 , 1% , 39% , 0.9)

// links

linkColor        = blue
linkColorHover   = darken(blue, 10)



// Typography
//------------------------------------------

sansFontFamily  = 'Helvetica Neue', Helvetica, Arial, sans-serif
serifFontFamily = Georgia, 'Times New Roman', Times, serif
monoFontFamily  = Monaco, Menlo, Consolas, 'Courier New', monospace



// Scaffolding
//------------------------------------------

baseBgColor   = grayLight
baseTextColor = textColorDark
baseTextFont  = sansFontFamily



// Grid
//------------------------------------------

baseTextSize        = 16px
// for 16px, 30px line-height
baseTextLineHeight  = 1.875
gridUnit            = baseTextLineHeight*baseTextSize

gridUnits(n)
  gridUnit * n

textColorInverse = grayLightest



// Pages
//------------------------------------------

// Directory

// page-variables are here because we need
// them in multiple files
cardWidth        = gd(14)
cardsGutterWidth = gd(1)
