html
  font-family arial

body, html
  padding 0
  margin 0

a:link
  text-decoration none

*
  box-sizing border-box

.vintage-box-models *
  box-sizing content-box

ul
  margin-bottom 0
  margin-left 0
  list-style none
