@import "../../lib/client/styles"

.report-section
  min-height gd(12)
  border-bottom 1px solid lightgrey

.report-title
  border 1px dotted lightgrey
  padding gd(.5)

.timeline-conductor.ui-scrollfix
  padding-top 72px

.report-header
  margin-top gd(2)

.timeline-header
  &.ui-scrollfix
    background-color white
    top 0
    z-index 10

.timeline-navigation
  -webkit-user-select none
  user-select none

.timeline-slider
  -webkit-transition margin 250ms
  transition margin 250ms

.bar-amount-label
  fill white
.bar-chart
  rect
    stroke white
    fill steelBlue
