.timeline-navigation
  -webkit-user-select none
  user-select none

.timeline
  -webkit-transition margin 250ms
  transition margin 250ms

.bar-amount-label
  fill white
.bar-chart
  rect
    stroke white
    fill steelBlue
