@import "../../lib/client/styles"
@import "variables"


#app-content
  background-color white

html
  background-color dark

.navbar
  padding gd(.25) gd(1)

.introduction-container
  margin-top gd(2)
  padding 0 gd(2)

.introduction-figure
  rectangle(gd(20) gd(10))

.a-image-160
  height gd(8)

.dark-theme
  background-color dark

.form-search
  margin-top gd(2)
  margin-bottom gd(2)
