
dark = hsl(0,0,18%)
grey = hsl(0,0,90%)

*
  box-sizing border-box

.artifact-card
  margin-bottom gd(1)

.artifact-card .container
  height 140px

.artifact-card-info
  padding 0 gd(.5)

.a-container
  border 1px solid grey

[class*="a-image"]
  border 1px dashed grey

.a-image-160
  height 140px

.dark-theme
  background-color dark

.app-footer
  margin-top gd(1)

