@import "../../lib/client/styles"

dark = hsl(0,0,18%)
grey = hsl(0,0,90%)

#app-content
  padding 0 gd(2)

.artifact-card
  width gd(16)

  > *
    square(gd(8))

.artifact-card-info
  padding 0 gd(.5)

.a-container
  border 1px solid grey

[class*="a-image"]
  border 1px dashed grey

.a-image-160
  height gd(8)

.dark-theme
  background-color dark

.app-footer
  margin-top gd(1)

