@import "../../lib/client/styles"
@import "variables"

.frame
.frame > *
.table-row > *
[class*="col"]
  border 1px solid grey
  .dark-theme &
    border 1px solid dark + 20

[class*="a-image"]
  border 1px dashed grey
