

body.mission
  .app-footer
    margin-top 4rem

  .introduction
    background-image url('/images/white-hash-20.png')

  .moodshot
    background-image  url('/images/mission-moodshot.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center



// Limay section
// --------------------------------------------------

.limay
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-bottom 1px solid grayMuted

.limay__map-container
  padding 0

.limay__map
  min-height 20rem

.limay__map-tip
  background-image url('/images/white-hash-20.png')
  font-size 0.8rem

.map-tip__icon
  margin-top 0.15em
  font-size 1rem
.map-tip__body
  padding-left 1.5rem

@media screen-s-up
  .limay__map
    min-height 36rem
  .limay__text
  .limay__map-container
    display inline-block
    vertical-align top

.limay__text__body
  max-width 30rem


// Essay Sections
// --------------------------------------------------

.chapter-title
  width 400px

.chapter-text
  column-width 400px
  column-gap 60px

.essay-chapter-2
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-top 1px solid grayMuted
  border-bottom 1px solid grayMuted
