

body.mission
  .app-header
    border-bottom none
  .app-footer
    margin-top 4rem

  .introduction
    background-image url('/images/white-hash-20.png')
    padding-top 1.5em
    .co2-infographic
      opacity 0.6




.limay__map-tip
  background-image url('/images/white-hash-20.png')
  font-size 0.8rem

.map-tip__icon
  margin-top 0.1em
  font-size 1rem
.map-tip__body
  padding-left 1.5rem

.limay__map
  height gd(10)
@media screen-s-up
  .limay__map
    height gd(17)




.chapter:nth-child(even)
  background-color grayMuted;
  border-top-bottom 1px solid grayMuted

.chapter__title
  max-width 20rem

.limay__text,
.chapter__text
  column-width 20rem
  column-gap gd(1.5)

