.align-left   { text-align: left; }
.align-center { text-align: center;}
.align-right  { text-align: right; }

.align-children-top > *,
.align-top    { vertical-align: top;}
.align-children-middle > *,
.align-middle { vertical-align: middle;}
.align-children-bottom > *,
.align-bottom { vertical-align: bottom;}
