//
//  Calculate Line-height ratio
//  --------------------------------------------------

calc-line-height-ratio(text-size-base, desired-line-height)
  unit((desired-line-height / text-size-base), '')
