



//
//  Twitter Timeline
//  ---------------------------------
//
//  Description:
//  Remove link styling



.transparent-link
  color inherit
  &:visited
    color inherit
  &:active
    color inherit
  &:link
    color inherit
  &:hover
    color inherit
