.moodshot
  overflow hidden
  background-overlay url('/images/white-hash-20.png')

@media screen-xs
  .moodshot
    height gd(5)

@media screen-s
  .moodshot
    height gd(10)

@media screen-m-up
  .moodshot
    height gd(14)
