


generate-padding-classes(size-name, size-value)
  .padding-{size-name}  { padding: size-value   }
  .hpadding-{size-name} { padding: _ size-value }
  .vpadding-{size-name} { padding: size-value _ }



padding-size-l  = 3rem
padding-size-m  = 2rem
padding-size-s  = 1rem
padding-size-xs = 0.5rem

generate-padding-classes('m',  padding-size-m)
generate-padding-classes('s',  padding-size-s)
generate-padding-classes('xs', padding-size-xs)

@media screen-xs
  generate-padding-classes('l', padding-size-l)



padding-size-l = 4rem

@media screen-s
  generate-padding-classes('l', padding-size-l)



padding-size-l = 5rem

@media screen-m-up
  generate-padding-classes('l', padding-size-l)
