//
// Arbitrary Scale
// --------------------------------------------------
//
// Description=
// A scale for harmonious UI sizing.
// Use these variables for font-size, height, padding
// width, box-shadow size, border-radius size, etc


xxl = 6rem
xl  = 4rem
l   = 2.5rem
m   = 1.5rem
s   = 1rem
xs  = 0.5rem
xxs = 0.333rem

xxl-relative = unit(xxl, em)
xl-relative  = unit(xl , em)
l-reltive    = unit(l  , em)
m-relative   = unit(m  , em)
s-relative   = unit(s  , em)
xs-relative  = unit(xs , em)
xxs-relative = unit(xxs, em)

