*
  box-sizing border-box

body
html
  padding 0
  margin 0

html
  background-color   color-bg-base
  font-size          text-size-base
  line-height        text-line-height-base
  color              color-text-base-phone
  font-family        Open\ Sans
@media screen-l-up
  html
    font-size text-size-base-desktop




img
  // Browsers behave differently by default
  // This makes it explicit
  max-width 100%

ul, ol
  margin-left 0
  list-style none
