theme-selection-color(var-bg-color, var-text-color=white)
  & *::-moz-selection
    background-color var-bg-color
    color var-text-color if var-text-color
  & *::selection
    background-color var-bg-color
    color var-text-color if var-text-color


generateBaseTheme(var-base-color)
  background-color var-base-color
  color calcDarkAccentColor(var-base-color)
  theme-selection-color(darken(var-base-color, 35))
  a
    border-bottom-color darken(var-base-color, 35)
    &:hover
      color darken(calcDarkAccentColor(var-base-color), 10)




.color-theme
  a, a:link
    highlight(fade-out(white, 0.9))
    color inherit
    border-bottom-width 1px
    border-bottom-style dashed
    &:hover
      highlight(fade-out(white, 0.7))

  .text-color-inverse
    a, a:link
      border-color textColorInverse
      &:hover
        border-color baseTextColor




body
  theme-selection-color(saturate(lighten(green, 8), 30), false)
  a
    border-bottom-color linkColor

.blue-theme
  generateBaseTheme(blue)

.green-theme
  generateBaseTheme(green2)

.yellow-theme
  generateBaseTheme(yellow)
.all-yellow-theme
  @extends .yellow-theme
  color yellowAccent

.dark-theme
  color darken(grayLight, 10)
  background-color dark
  a:hover
    color white
