


//  Block Align
//  -----------



// TODO throw error on invalid alignment keyword

block-align(alignment)
  if alignment is left
    margin-right auto
  else if alignment is right
    margin-left auto
  else if alignment is center
    margin-left auto
    margin-right auto
