@import helpers

.table
  display table

.jar
  @extends .table
  position relative

.frame
  @extends .table
  & > *
    display table-cell
    vertical-align top

.row > *
  display inline-block
  vertical-align top

.row > .jar
.row > .frame
  display inline-table




//
//  Layout
//  ------------------------------------------------------------------

//
//  Fluid
//  ------------------------------------------------------------------

//
//  Alignment
//  ------------------------------------------------------------------

.aligns-center > *
.align-center
  margin-left auto
  margin-right auto

.aligns-right > *
.align-right
  margin-left auto!important

.aligns-middle > *
.align-middle
  vertical-align middle


//
//  Positioning
//  ------------------------------------------------------------------

.stick-right
  position absolute
  right 0

//
//  .v-gutters
//  ------------------------------------------------------------------

generate_gutter_classes(grid_units)

  grid_units_class_name = decimal_to_class_name(grid_units)

  .v-gutters-{grid_units_class_name} > *
    margin-bottom gd(grid_units)

  .h-gutters-{grid_units_class_name} > *:not(:last-child)
    margin-right gd(grid_units)

  .gutters-{grid_units_class_name} > *
    margin-right  gd(grid_units)
    margin-bottom gd(grid_units)

  .v-push-{grid_units_class_name}
    margin-top gd(grid_units)


generate_gutter_classes(i) for i in 0.25 0.5 0.75
generate_gutter_classes(i) for i in 1..5


.frame > [class*="col"] + [class*="col"]
  padding-left gd(1)

[class*="col"]
  display inline-block
  & + [class*="col"]
    margin-left gd(1)


.float-right
  float right

.span
  width 100%
for n in 1..14
  .span-{n}
  .col-{n}
    width cols(n)


