



//
//  Twitter Timeline
//  ---------------------------------



.twitter-timeline
  border-left 1px solid white
  border-right 1px solid white
  header
    padding xs m
    background-color white
    .title
      vertical-align middle
    i
      margin-right s
      font-size l
      vertical-align middle
.tweet-items {}
.tweet-item:not(:last-child)
  border-bottom 1px solid white
.tweet-item-inner
  padding m
  padding-top (m * 0.6)
.tweet-body
  padding-top (m * 0.4)
