border-top-radius()
  border-top-right-radius arguments
  border-top-left-radius arguments

border-bottom-radius()
  border-bottom-right-radius arguments
  border-bottom-left-radius arguments

border-left-radius()
  border-top-left-radius arguments
  border-bottom-left-radius arguments

border-right-radius()
  border-top-right-radius arguments
  border-bottom-right-radius arguments
