box-sizing()
  -moz-box-sizing arguments
  box-sizing arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

transition-duration()
  -webkit-transition-duration arguments
  -moz-transition-duration arguments
  -ms-transition-duration arguments
  -o-transition-duration arguments
  transition-duration arguments

transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  -ms-transition-property arguments
  -o-transition-property arguments
  transition-property arguments

column-width()
  -moz-column-width arguments
  -webkit-column-width arguments
  -ms-column-width arguments
  -o-column-width arguments
  column-width arguments

column-gap()
  -moz-column-gap arguments
  -webkit-column-gap arguments
  -ms-column-gap arguments
  -o-column-gap arguments
  column-gap arguments

user-select()
  -webkit-user-select arguments
  -moz-user-select arguments
  -o-user-select arguments
  -ms-user-select arguments
  user-select arguments
