.navbar
  .navbar-inner
    a.brand(ng-href="/directory") CO2R
    ul.nav
      li: a(ng-href="/about") Our mission
      li: a(ng-href="/faq") FAQ
      li: a Give us feedback
      li: a(ng-href="/register-your-product") Register your product
      li: a(ng-href="/other-things-you-can-do-to-help") Other things you can do to help
#app-content(ng-view)
footer.app-footer.row.dark-theme
  ul.span4
    li: a Our mission
    li: a FAQ
    li: a Register your product
    li: a Other things you can do to help
  .sponsors.span4
    h3 Caisse d'economie solidaire
    p lorem
  .company.span4
    h3 Taking Root
    p lorem

  .vintage-box-models
    button.btn.btn-primary(ng-click="settings.restore_defaults()")
      span.icon-undo
      |  Restore defaults
