body(ng-class="appCssClasses", data-spy="scroll", data-target=".faq-table-of-contents")
  ng-include(src="'/partials/app_header.html'")
  #app-content(ng-view)
  ng-include(src="'/partials/app_footer.html'")
