
<!-- We're not using jade for this because we need to work with meteor's bundler at least for the index page -->

<head>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACK0sp5adiQxeaADP87y6y_tX16aBVXQU&sensor=false"></script>
  <title ng-bind="app_title + ' - ' + page_title"></title>
</head>

<body>
  <div ng-class="appCssClasses" data-spy="scroll" data-target=".faq-table-of-contents">
    <ng-include src="app_data.partialPath('app_header')"></ng-include>
    <div id="app-content" ng-view="ng-view"></div>
    <ng-include src="app_data.partialPath('app_footer')"></ng-include>
  </div>
</body>
