.app-navbar.row.aligns-middle
  nav-list.row.h-gutters-1.aligns-middle(items="navs.primary", text-function="appText[item]")
    li: a(popover="{contentSrc: partialPath('form-feedback'), placement:'bottom'}") {{ appText.give_us_feedback}}

  nav-list.row.h-gutters-1.align-right(style="white-space:nowrap;",
  items="navs.callout", text-function="appText[item]")
    li: button.btn(ng-click="preferences.restoreDefaults()", tooltip="{title:'Restore preferences', placement:'left'}")
      span.icon-undo
