.app-navbar.row.aligns-middle
  svg-image.co2r-logo(src="/images/logo.svg")
  nav-list.row.h-gutters-1.aligns-middle(items="navs.primary", text-function="appText[item]")
    li: a(popover="{contentSrc: partialPath('form-feedback'), placement:'bottom'}", ng-bind="appText.give_us_feedback")

  nav-list.row.h-gutters-1.align-right(style="white-space:nowrap;",
  items="navs.callout", text-function="appText[item]")
