footer.app-footer.group

  .spread-the-word
    .inner.span-4.dark-theme(style="margin-left:20px;padding:15px 20px;-webkit-user-select:none;border-radius:3px 3px 0 0;")
      .handle(ng-click="is_open = !is_open", style="cursor:pointer;")
        h5.icon-share.unspaced(todo)  Spread the word
      form.v-push-2(ng-show="is_open", style="margin-bottom:0;")
        .select-outlet.row.h-gutters-05(style="font-size:2em;")
          i.icon-twitter
          i.icon-facebook
          i.icon-pinterest
          i.icon-google-plus
        textarea.span.v-push-1(placeholder="{{appText.your_message}}", rows="4", ng-bind="appText.spread_the_word_default_message")
        div: button.btn.span(ng-bind="appText.spread_the_word_button_label")

  .app-footer-content.dark-theme.row.group.span(scroll-fix-bottom=".spread-the-word")
    nav-list.span-4(items="navs.footer", text-function="appText[item]")
    .row.h-gutters-3.align-right
      .sponsors.span-4
        a(href="{{ appText.sponsor_link }}", target="_blank")
          h4.aligns-middle
            i.icon-sign-blank
            span(co2r-bind="appText.footer_sponsor_name")
        p(co2r-bind="appText.footer_sponsor_description")
      .company.span-3
        a(href="http://takingroot.org", target="_blank"): h4.aligns-middle
          svg-image.co2r-logo(src="/images/logo-white.svg")
          span(co2r-bind="appText.footer_taking_root")
        p(co2r-bind="appText.footer_taking_root_description")
        .row.h-gutters-05(style="font-size:1.5em;")
          a.icon-envelope(href="mailto:info@takingroot.org", ui-jq="popover", title="test", data-content="moo")
          a.icon-twitter(href="https://twitter.com/takingroot")
          a.icon-facebook(href="http://www.facebook.com/TakingRoot?ref=ts")

    br
    span(co2r-bind="appText.switch_language")
    = ' '
    a(ng-click="preferences.set('languageCode', otherLanguage); reloadPage()", ng-bind="otherLanguage | languageName")
    br
    br
    br
    br
    br
    br

    p.muted(co2r-bind="appText.footer_colofon")
