
.gallery.group(ui-if="artifact.images.length")
  carousel
    carousel-item.span(ng-repeat="image in artifact.images", src="image.image_url", caption="image.caption")


section.about
  header.stop-collapse
    h1(co2r-bind="artifact.name")
    h4(co2r-bind="appText.artifact_offset_since | interpolate:artifact.offsetSince")
  .row.v-push-1
    .description.col-6
      .story(co2r-bind="artifact.description")
      small: a.aligns-middle(href="/about")
        i.icon-pushpin
        span(co2r-bind="appText.learn_more_about_co2r")

    .col-4

      .emissions-badge
        h4.unspaced
          span(ng-bind="artifact.unit_quantity + ' ' + artifact.unit_verbose + ' = '")
          span.co2-contrasted(amount="{{latestReport.co2_per_unit}}")

section.organization.row
  .organization-about.col-6
    .organization-avatar(style="width:100px;height:100px;margin-bottom:10px;")
      a(href="{{ artifact.organization.website_url }}"): img(src="{{artifact.organization.image_url}}")
    h2.organization-name.v-push-2(co2r-bind="artifact.organization.name")
    .organization-description(co2r-bind="artifact.organization.description")
    .organization-contact.v-push-2(ui-if="artifact.organization.contact_infos.length > 0")
      p(co2r-bind="appText.artifact_business_card_contact_lead_in")
      ul.contact-methods.row.h-gutters-05.unstyled: li.contact-method(class="contact-method-{{contact_method.contact_type}}", ng-repeat="contact_method in artifact.organization.contact_infos")
        a(href="{{contact_method.full_link | prefixMailto:contact_method.contact_type}}", class="icon-{{contact_method.contact_type | to_icon_name}}")
  .organization-feed(ng-bind-html="artifact.twitter_feed_code")







section.reports.v-push-5.span.a-image(ui-if="reports.length")
  header(style="text-align:center;")
    h1(co2r-bind="appText.artifact_report_section_title")

  timeline-conductor(style="white-space:nowrap;", column-width="column_width", column-count="artifact.reports.length", ui-scrollfix="+0")

      section.timeline-header.dark-theme.span.scrollfix-fixed(ui-scrollfix="+0")
        //-
          .timeline-navigation.clearfix(style="font-size:24px;height:30px;")
            a.pull-left(style="margin-top:2px;"): i.icon-arrow-left.align-middle(  ng-show="can_move_timeline('+1')", style="margin-left:20px;",  ng-click="move_timeline('+1')")
            a.pull-right(style="margin-top:2px;"): i.icon-arrow-right.align-middle(ng-show="can_move_timeline('-1')", style="margin-right:20px;", ng-click="move_timeline('-1')")
        timeline-slider
          .row
            h1.unspaced.year-title.text-align-center.timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports") {{report.year}}

      section.report-section.report-section-co2-per-unit
        report-header-basic
          div(co2r-bind="appText.artifact_co2_per_thing_made | interpolate:(artifact.unit_quantity+' '+artifact.unit_verbose)")
        timeline-slider
          chart-co2-per-unit(column-width="column_width", data="data.co2_per_thing_made")
          .row.text-align-center(style="border-top:1px solid lightgrey")
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
              h4: span.co2-contrasted(amount="{{report.co2_per_unit}}")

      section.report-section.report-section-total-vs-offset
        report-header-basic: div(co2r-bind="appText.artifact_total_vs_offset")
        timeline-slider
          chart-total-co2-vs-offset(column-width="column_width", data="data.total_co2_vs_offset")
          .row(style="border-top:1px solid lightgrey")
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
              .row(style="margin-left:45px;").text-aligns-center
                h4(style="width:100px;"): span.co2-contrasted(amount="{{report.total_tons_produced}}", unit="'t'")
                h6(style="width:100px;margin-left:12px;", co2r-bind="appText.trees_planted | interpolate:report.trees_planted")
              //-h6(style="margin-left:158px;width:100px;"):

      section.report-section.report-section-co2-sources(ui-if="data.co2_sources.length")
        header.report-header.align-center
          h3.report-title.text-align-center(co2r-bind="appText.artifact_co2_sources")
          ul.row.h-gutters-1: li.h-gutters-025(ng-repeat="(co2SourceName, color) in nameColors")
            span.color(style="background-color:{{color}};width:10px;height:10px")
            span.name(ng-bind="co2SourceName")
        timeline-slider
          .row
            .timeline-item(style="width:{{column_width}}px", ng-repeat="co2_sources in data.co2_sources")
              chart-co2-sources(column-width="column_width", data="co2_sources")

      section.report-section.report-section-other-eco-actions(ui-if="hasOtherActions")
        report-header-basic: div(ng-bind="appText.artifact_other_eco_actions")
        timeline-slider
          .row(style="white-space:normal;")
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
              section(class="action-type-{{actionCategory.name | slugify}}", ng-repeat="actionCategory in report.other_actions")
                .row.aligns-middle
                  i(class="icon-{{actionCategory.name.icon_code | slugify}}")
                  = ' '
                  h5(style="text-transform:capitalize;", ng-bind="actionCategory.name.name")
                  ul
                    li(ng-repeat="action in actionCategory.description_list"): span(ng-bind="action")

        br
        br
        br
      section.report-section.text-align-center(ui-if="latestReport.annual_report_url")
        button.btn.btn-inverse.v-push-4
          a(href="{{latestReport.annual_report_url}}"): h3
            i.icon-download(ng-bind="appText.artifact_download_report | interpolate:latestReport.year")
br
br
br
br
br


.share-artifact(scroll-fix-bottom="{until:'.app-footer'}")
  strong Tell your friends about {{artifact.name}}!
  //-.co2r-addthis-toolbox.row.aligns-middle.h-gutters-05
