

.gallery.group(ui-if="artifact.images.length")
  .carousel.moodshot
    .carousel-item.span(ng-repeat="image in artifact.images", src="image.image_url", caption="image.caption")


section.about.color-theme.yellow-theme
  .row.vpadding-l
    .cols7
      header
        h1.text-heading1(bind-compile="artifact.name")
        h4(bind-compile="appText.artifact_offset_since | interpolate:artifact.offsetSince")
      .description
        .story(bind-compile="artifact.description")
        small: a.aligns-middle(href="/mission")
          i.icon-pushpin
          = ' '
          span(bind-compile="appText.learn_more_about_co2r")
    .cols5
      .emissions-badge.padding-m
        h4.unspaced
          span(ng-bind="artifact.unit_quantity + ' ' + artifact.unit_verbose + ' = '")
          span.co2-contrasted(amount="{{latestReport.co2_per_unit}}")



section.organization.h-gutters-4.hidden-phone
  .row
    .organization-about.col-5.vpadding-l
      .organization-avatar(style="width:100px;height:100px;margin-bottom:10px;")
        a(href="{{ artifact.organization.website_url }}"): img(ng-src="{{artifact.organization.image_url}}")
      h2.organization-name.text-heading3.v-push-2(bind-compile="artifact.organization.name")
      .organization-description(bind-compile="artifact.organization.description")
      .organization-contact.v-push-2(ui-if="artifact.organization.contact_infos.length > 0")
        p(bind-compile="appText.artifact_business_card_contact_lead_in")
        .contact-methods.hbox.h-gutters-05
          a.contact-method(class="contact-method-{{contact_method.contact_type}}", href="{{contact_method.full_link | prefixMailto:contact_method.contact_type}}", ng-repeat="contact_method in artifact.organization.contact_infos")
            i(class="icon-{{contact_method.contact_type | to_icon_name}}")
    .organization-twitter-timeline.padding-m.cols7
      .tweet-items.v-gutters-1
        .tweet-item.span-4(ng-repeat="tweet in organizationTweets")
          .tweet-meta
            span.tweet-meta-date.muted {{tweet.created_at | castToDate | date:'MMM d'}}
          p.tweet-body(ng-bind-html="tweet.text | linky")




section.reports.v-push-4.span.a-image(ui-if="reports.length")
  header.reports-header.padding-xl
    h1.text-heading1(bind-compile="appText.artifact_report_section_title")

  .timeline-conductor.group(column-width="column_width", column-count="reports.length")

    section.timeline-header
      .timeline-header-inner.dark-theme.span(scrollfix="{from:'.timeline-header'}")
        .timeline-navigation
          button.c-btn.timeline-navigation-left.pin-l(ng-show="canMoveTimeline('-1')", ng-click="moveTimeline('-1')"): i.icon-chevron-left.align-middle
          button.c-btn.timeline-navigation-right.pin-r(ng-show="canMoveTimeline('+1')", ng-click="moveTimeline('+1')"): i.icon-chevron-right.align-middle
        .timeline-slider-window
          .hbox
            .timeline-item.text-align-center(style="width:{{column_width}}px", ng-repeat="report in reports")
              h3.year-title {{report.year}}



    section.report-section.report-section-co2-per-unit
      .report-header-basic
        div(bind-compile="appText.artifact_co2_per_thing_made | interpolate:(artifact.unit_quantity+' '+artifact.unit_verbose)")
      .timeline-slider-window
        .chart-co2-per-unit(column-width="column_width", data="data.co2PerThingMade")
        .hbox.chart-labels.text-align-center
          .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
            h4
              span.co2-contrasted(amount="{{report.co2_per_unit}}")



    section.report-section.report-section-total-vs-offset
      .report-header-basic
        div(bind-compile="appText.artifact_total_vs_offset")
      .timeline-slider-window
        .chart-total-co2-vs-offset(column-width="column_width", data="data.totalCo2VsOffset")
        .hbox.chart-labels
          .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
            .bar-labels.hbox.text-aligns-center.aligns-middle
              h4.unspaced.bar-label.total-co2-label
                span.co2-contrasted(amount="{{report.total_tons_produced}}", unit="'t'")
              h4.unspaced.bar-label.trees-planted-label(title="{{appText.trees_planted}}", bind-compile="report.trees_planted")



    section.report-section.report-section-co2-sources(ui-if="data.co2Sources.length")
      header.report-header.align-center
        h3.report-title.text-align-center(bind-compile="appText.artifact_co2_sources")
        ul.legend-items.hbox.wrap.text-align-center
          li.legend-item(style="border-color:{{color}};", ng-repeat="(co2SourceName, color) in nameColors")
            span.legend-item-name(ng-bind="co2SourceName")
      .timeline-slider-window: .hbox
        .timeline-item(style="width:{{column_width}}px", ng-repeat="report in reports")
          .chart-co2-sources(column-width="column_width", data="report.carbon_sources_list", ui-if="report.carbon_sources_list.length")
          .no-data.text-align-center(ui-if="!report.carbon_sources_list.length", ng-bind-html="appText.artifact_no_data")



    section.report-section.report-section-other-eco-actions(ui-if="hasOtherActions")
      .report-header-basic: div(ng-bind="appText.artifact_other_eco_actions")
      .timeline-slider-window
        .hbox
          .timeline-item.v-gutters-3(style="width:{{column_width}}px", ng-repeat="report in reports")
            .no-data.text-align-center(ui-if="!report.other_actions.length", ng-bind-html="appText.artifact_no_data")

            section.actions-category(class="action-type-{{actionCategory.name | slugify}}", ng-repeat="actionCategory in report.other_actions")
              .actions-category-header
                .actions-category-icon.text-heading3.unspaced(class="icon-{{actionCategory.name.icon_code | slugify}}")
                h4.actions-category-title(style="text-transform:capitalize;", ng-bind="actionCategory.name.name")
              ul.actions.v-push-1.v-gutters-05
                li.action(ng-repeat="action in actionCategory.description_list"): span(ng-bind="action")



    section.report-section.text-align-center(ui-if="latestReport.annual_report_url")
      a.c-btn.v-push-4(href="{{latestReport.annual_report_url}}"): h3
        i.icon-download
        = ' '
        span(ng-bind="appText.artifact_download_report | interpolate:latestReport.year")


.social-bar.social-bar-artifact.hidden-phone(scrollfix="{until:'.app-footer', windowAnchor:'bottom', padding:-16}")
  .social-bar-inner.row.aligns-middle.padding-xs
    span(bind-compile="appText.social_bar_artifact_text | interpolate:artifact.name")
    //-span Tell your friends about {{artifact.name}}!
    .social-bar-buttons.co2r-addthis-toolbox.row.aligns-middle.h-gutters-05
