form.involvement-form(name="form", ng-controller="formFeedbackController", , ng-submit="sendForm()")
  .row.aligns-bottom
    textarea.col-3(rows=8, placeholder="{{ appText.feedback_message_prompt }}", ng-model="feedback.message", required)
    button.btn.btn-inverse.col-3.h-push-1(ng-bind="appText.shoot", ng-disabled="!form.$valid")

.message-to-user-after-send.modal(style="display:none;")
  .modal-header
    button.close(data-dismiss="modal") &times;
    h1 Thank you!
  .modal-body
    p Your message will be carefully reviewed us.
