.row.align-center.v-push-2.group(ng-show="preferences.get('showIntroduction')")
  .vintage-box-models.pin-right
    button.btn.icon-remove(ng-click="preferences.set('showIntroduction', false)")
  .a-image.col-6.v-push-3(style="height:200px;")
    img(ng-src="{{app_data.urls.introduction_figure}}", style="height:100%;")
  .introduction-copy.col-6
    h1(ng-bind-html="appText.introduction_title")
    .introduction-text(co2r-bind="appText.introduction_text")
    a.btn(href="/about", ng-bind-html="appText.learn_more")


form.form-search.vintage-box-models.align-center
  .input-prepend
    span.add-on: span.icon-search
    input.search-query.span5(type="text", ng-model="artifact_name",
      placeholder="{{appText.directory_filter_input_prompt}}",
      ng-change="isotopeFilterByName(artifact_name)"
      )

.artifact-cards.gutters-05.row.hidden(isotope)

  a.artifact-card.row.dark-theme(isotope-item, href="{{artifact.slug}}",
    ng-repeat="artifact in artifacts",
    data-name="{{artifact.name.toLowerCase()}}")
    .artifact-card-image
      img(ng-src="{{artifact.thumbnail_url}}")
    .artifact-card-info
      h4
        | {{artifact.unit_quantity}}
        | {{artifact.unit_verbose}}
        br
        co2-contrasted(amount="artifact.footprints[0].co2_per_unit")
      .organization-name {{artifact.name}}
