.moodshot.hash-overlay
section.introduction
section.action-steps
br
br
br

.align-center.v-push-2.group(ng-show="preferences.get('showIntroduction')", ng-class="{'span-6':wMobile, 'row h-gutters-1':!wMobile}")
  .vintage-box-models.pin-right
    button.btn.icon-remove(ng-click="preferences.set('showIntroduction', false)")
  .a-image.span-6.v-push-3(style="height:200px;")
    img(ng-src="{{appVars.urls.introductionFigure}}", style="height:100%;")
  .introduction-copy.span-6
    h1(co2r-bind="appText.introduction_title")
    .introduction-text(co2r-bind="appText.introduction_text")
    .row
      a.btn(href="/about", co2r-bind="appText.learn_more")
      .co2r-addthis-toolbox.pull-right

.artifact-directory

  form.form-search.span.group
    .hang-left: .hang-inner
      label.add-on(for="search-artifacts"): span.icon-search
    input.span(id="search-artifacts", type="text", ng-model="searchForArtifactName", autofocus,
      placeholder="{{appText.directory_filter_input_prompt}}")

  .artifact-cards.span.gutters-1.row

    a.artifact-card(href="{{artifact.slug}}", ng-repeat="artifact in artifacts | filter:searchForArtifactName")
      .artifact-card-header.group
        .poster
          img(ng-src="{{artifact.thumbnail_url}}")
        .artifact-card-meta-ribbon.pin-bottom.row.row-couple-heights
          .artifact-category
          div
            .co2-badge.jar
              span(ng-bind="artifact.unit_quantity +' '+ artifact.unit_verbose")
              br
              co2-contrasted(amount="artifact.footprints[0].co2_per_unit")
      .artifact-card-body
        h1.organization-name(co2r-bind="artifact.name | highlight:searchForArtifactName")

//-button.btn(ng-click="preferences.restoreDefaults()", tooltip="{title:'Restore preferences', placement:'right'}")
  //-span.icon-undo
