.home-introduction.group(ng-class="{open:introductionState(), closed:!introductionState()}")

  button.introduction-toggler.c-btn.pin-right(style="z-index:100;", ng-click="toggleIntroduction()", tooltip="{title:'Restore preferences', placement:'right'}")
    span(ng-class="{'icon-chevron-up':introductionState(), 'icon-chevron-down':!introductionState()}")
  .moodshot.hash-overlay
  section.introduction
    .introduction-copy.span-6.stop-collapse
      h1(co2r-bind="appText.introduction_title")
      .introduction-text(co2r-bind="appText.introduction_text")
  section.action-steps



.artifact-directory.v-push-5

  form.form-search.span.group
    .hang-left: .hang-inner
      label.add-on(for="search-artifacts"): span.icon-search
    input.span(id="search-artifacts", type="text", ng-model="searchForArtifactName", autofocus,
      placeholder="{{appText.directory_filter_input_prompt}}")


  .artifact-cards.span.gutters-1.row

    a.artifact-card(href="{{artifact.slug}}", ng-repeat="artifact in artifacts | filter:searchForArtifactName")
      .artifact-card-header.group
        .poster
          img(ng-src="{{artifact.thumbnail_url}}")
        .artifact-card-meta-ribbon.pin-bottom.row.row-couple-heights
          .artifact-category
          div
            .co2-badge.jar
              span(ng-bind="artifact.unit_quantity +' '+ artifact.unit_verbose")
              br
              span.co2-contrasted(amount="{{artifact.footprints[0].co2_per_unit}}")
      .artifact-card-body
        h1.organization-name(co2r-bind="artifact.name | highlight:searchForArtifactName")
