.row.row-couple-heights

  aside.faq-table-of-contents
    ul.nav.nav-pills.nav-stacked.align-right.scrollfix-fixed.span-4(ui-scrollfix="62")
      li(ng-repeat="faq in faqs")
        a(ng-href="#\{{faq.question | slugify}}", ng-bind="faq.question", smooth-scroll)

  div
    .faqs.span-8.v-gutters-3
      article(id="{{faq.question | slugify}}", ng-repeat="faq in faqs", spyscrollable)
        header.question
          h1(co2r-bind="faq.question")
        .answer(co2r-bind="faq.answer")
