

.row.row-couple-heights

  aside.faq-toc-container
    .faq-toc.scrollfix-fixed.span-4(ui-scrollfix="62")
      ul.nav.nav-pills.nav-stacked.align-right
        li(ng-repeat="faq in faqs")
          a(ng-href="#\{{faq.question | slugify}}", ng-bind="faq.question", smooth-scroll)

  div
    .faqs.span-8.v-gutters-3
      article(id="{{faq.question | slugify}}", ng-repeat="faq in faqs", spyscrollable)
        header.question
          h1.text-heading2(co2r-bind="faq.question")
        .answer.v-push-1(co2r-bind="faq.answer")
