

section.page-introduction
  .moodshot.hash-overlay
  section.introduction.padding-l.blue-theme.color-theme
    .introduction-copy.span-8.stop-collapse
      h1.text-color-inverse(bind-compile="appText.introduction_title")
      .introduction-text(bind-compile="appText.introduction_text")


section.limay.row
  .limay-map-container
    .limay-map-tip.row.row-couple-heights.padding-s
      h2.map-tip-icon.icon-info-sign.unspaced
      .map-tip-content(bind-compile="appText.mission_map_help_tip")
    .limay-map#map_canvas
  .limay-text.padding-l
    h1.text-heading1.group
      .community-title(bind-compile="appText.about_community_title")
    .community-text(bind-compile="appText.about_community_text")



article.essay-chapter.padding-xl(class="essay-chapter-{{num}}", ng-repeat="num in [1,2,3]")
  header.chapter-header
    h3.chapter-title.text-heading1(bind-compile="appText['about_topic_'+num+'_title']")
  .chapter-text.v-push-1(bind-compile="appText['about_topic_'+num+'_text']")
