

section.page-introduction
  .moodshot.hash-overlay
  section.introduction.padding-l.blue-theme.color-theme
    .introduction-copy.span-8.stop-collapse
      h1.text-color-inverse(co2r-bind="appText.introduction_title")
      .introduction-text(co2r-bind="appText.introduction_text")



section.limay.row
  .limay-map-container
    .limay-map-tip.row.row-couple-heights
      h2.map-tip-icon.icon-info-sign
      .map-tip-content(co2r-bind="appText.mission_map_help_tip")
    .limay-map(id="map_canvas",
      ui-map='treeplantingMap',
      ui-event="{'map-click': 'test($event)'}",
      ui-options="mapOptions")
  .limay-text.padding-l
    h1.text-heading1.group
      .community-title(co2r-bind="appText.about_community_title")
    .community-text(co2r-bind="appText.about_community_text")



article.essay-chapter.padding-xl(class="essay-chapter-{{num}}", ng-repeat="num in [1,2,3]")
  header.chapter-header
    h3.chapter-title.text-heading1(co2r-bind="appText['about_topic_'+num+'_title']")
  .chapter-text.v-push-1(co2r-bind="appText['about_topic_'+num+'_text']")
