

section.page-introduction
  .moodshot.hash-overlay
  section.introduction.blue-theme.color-theme
    .row.vpadding-l
      .introduction-copy
        h1.text-color-inverse(bind-compile="appText.introduction_title")
        .introduction-text(bind-compile="appText.introduction_text")


section.limay.row-cells
  .limay-map-container.cols5
    .limay-map-tip.padding-s
      h2.map-tip-icon.icon-info-sign.unspaced.float-left
      .map-tip-content(bind-compile="appText.mission_map_help_tip")
    .limay-map.span#map_canvas
  .limay-text.padding-m.cols7
    h1.text-heading1.group
      .community-title(bind-compile="appText.about_community_title")
    .community-text(bind-compile="appText.about_community_text")



article.essay-chapter.padding-l(class="essay-chapter-{{num}}", ng-repeat="num in [1,2,3]")
  header.chapter-header
    h3.chapter-title.text-heading1(bind-compile="appText['about_topic_'+num+'_title']")
  .chapter-text.v-push-1(bind-compile="appText['about_topic_'+num+'_text']")
