section.can-do.row-cells(ng-repeat="canDo in otherThingsYouCanDo")
  .involvement-type.padding-l.cols5
    .involvement-type-inner
      h2(bind-compile="appText['can_do_'+canDo.replace('-','_')+'_title']")
      .description(bind-compile="appText['can_do_'+canDo.replace('-','_')+'_description']")
  .padding-l
    ng-include(src="partialPath('can-do-'+canDo)")
