header
  .row.align-center.v-push-3

    .introduction.span-6
      h1.aligns-middle
        i.icon-file
        span(co2r-bind="appText.register_your_product")
      p(co2r-bind="appText.register_introduction")

    form.vintage-box-models
      .row.h-gutters-1
        textarea(rows="6", placeholder="{{appText.your_message}}")
        div
          .control-group
            .input-prepend
              label.add-on(for="name"): i.icon-user
              input#name(type="text", placeholder="{{appText.name_or_organization}}")
          .control-group
            .input-prepend
              label.add-on(for="email"): i.icon-envelope
              input#email(type="email", placeholder="{{appText.email}}")
          .control-group
            .input-prepend
              label.add-on(for="phone"): i.icon-phone
              input#phone(type="text", placeholder="{{appText.phone}}")
          button.btn.span(style="box-sizing:border-box;", ng-bind="appText.inquire")



.row.row-couple-heights
  aside.row.register-table-of-contents(style="width:40%;")
    .align-right(style="margin-right:40px;margin-top:40px;margin-bottom:60px;")
      div(co2r-bind="appText.register_artifact_left_column")
    br
    br
    br
    br
    br
  .faqs.span-8.v-gutters-3
    div(co2r-bind="appText.register_artifact_right_body")
