body.faq

  .faq-toc-container
    background-color pane-blue
    width 40%
    min-width 380px
    .nav
      margin-top gd(2)
      margin-right gd(2)

  .faq-toc
    width 100%
    min-width 380px
    &.ui-scrollfix
      width 40%
      top 0px

    .nav
      margin-right 40px
