.timeline-header
  height 43px
  position absolute
  top -60px
  &.ui-scrollfix
    top 0
    z-index 10

.timeline-navigation
  -webkit-user-select none
  user-select none
  a
    margin-top 2px

.timeline-navigation-right
  border-left 1px solid black

.timeline-navigation-left
  border-right 1px solid black




.timeline-conductor
  white-space nowrap

  //&.ui-scrollfix
  //padding-top 72px

.timeline-slider-window
  overflow hidden

.timeline-slider
  transition margin 250ms

.timeline-item
  white-space normal
  border-left 1px dashed ngrey-subtle
  &:last-child
    border-right 1px dashed ngrey-subtle
