.timeline-header
  height 43px

.timeline-navigation
  a
    margin-top 2px

.timeline-navigation-right
  border-left 1px solid black

.timeline-navigation-left
  border-right 1px solid black




.timeline-conductor
  white-space nowrap

.timeline-slider-window
  overflow hidden

.timeline-item
  border-left 1px dashed ngrey-subtle
  &:last-child
    border-right 1px dashed ngrey-subtle
