.report-section
  min-height gd(12)
  border-bottom 1px solid lightgrey

//.report-title

.timeline-conductor.ui-scrollfix
  padding-top 72px

.report-header
  margin-top gd(3)
  margin-bottom gd(2)

.timeline-header
  &.ui-scrollfix
    top 0
    z-index 10

.timeline-navigation
  -webkit-user-select none
  user-select none

.timeline-slider
  -webkit-transition margin 250ms
  transition margin 250ms

.bar-amount-label
  fill white

.graph-bar
  stroke ndark-text
  fill ndark-text

.trees-planted-bar
  stroke ngreen
  fill ngreen


.offset-co2-bar
  opacity 0.5

.report-section-co2-sources
  padding-bottom gd(2)

.pie-label
  fill black



.report-section-co2-sources

  .pie-label
    font-weight bold
    opacity 0.85
    fill ndark

  .legend-items
    white-space normal

  .legend-item
    color lighten(ndark-text, 10)
    // border-color is dynamically set, inline
    border-bottom-width .4em
    border-bottom-style solid
    padding 0 1em .25em 1em
    margin-bottom 1em
