.artifact-card
  width card-width
  .poster
    background-overlay url('/images/white-hash-30.png')
  .poster img
    square card-width
  .ui-match
    highlight-color = fade-out(nlight, 0.65)
    background highlight-color
    box-shadow 0 0 0 3px highlight-color
    color ndark

.artifact-card-meta-ribbon
  z-index 20
  margin-bottom 1px
  .artifact-category
    background-color ngrey
    min-height gd(3)
    width gd(3)
  .co2-badge
    padding gd(.25) gd(.5)
    background-color nlight
    color fade-out(ndark-text,0.15)
    line-height 24px
  .co2-keyword
    font-size 1.2rem

.artifact-card-body
  background-color nyellow
  background-image url('/images/white-hash-30.png')
  min-height gd(5)
  .organization-name
    padding-top .65em
    padding-left .85em
    padding-bottom .75em
    font-weight normal
    font-size 1.6rem
    line-height 1.25em
    margin-top 0
    color ndark-text-on-color
