

body.directory

  .app-footer
    margin-top gd(4)

  .moodshot
    background url('https://co2r-development.s3.amazonaws.com/heroshots/heroshot-home.jpg') no-repeat center
    background-size cover
    height gd(22)

  .home-introduction
    &.closed
      height 56px
      overflow hidden

  .introduction
    background-color blue
    padding gridUnits(2) gridUnits(2.5)
    min-height gd(26)
    background-image url('/images/white-hash-20.png')

  .introduction-toggler
    font-size 30px
    padding .55em

  .action-steps-container
    background-color lighten(gray, 5)
    min-height gd(13)
    background-image url('/images/white-hash-30.png'), url('/images/white-hash-30.png')
    padding-top gd(2)
    padding-bottom @padding-top

  .action-step-title
    height gd(4)





// Search input for Directory listing
//--------------------------------------------------

.form-search
  margin-top gd(2)
  margin-bottom gd(2)
  input-height = 3.7rem
  input
    background-color transparent
    border 1px solid red
    border-radius 0!important
    padding .4em .5em
    height input-height
    color textColorDark
    font-size 1.25rem
    &:focus
      box-shadow none
      border-color red
      outline 10px solid fade-out(red, 0.95)
      color dark
  .add-on
    display inline-block
    text-align center
    padding-top 19px
    height input-height
    width input-height
    font-size 2.5rem
    background-color red
    color grayLight
    // undo bootstrap
    border-radius 0!important
    border none



// Directory listing (with responsiveness)
//--------------------------------------------------

.artifact-directory
  margin-left auto
  margin-right auto
  margin-bottom 120px
.artifact-cards
  .inner
    margin-left (cardsGutterWidth/2)

//@media screen and (min-width: 0)
.artifact-directory
  width cardWidth
.artifact-cards
  width cardWidth + cardsGutterWidth

@media screen and (min-width: 700px)
  .artifact-directory
    width cardWidth * 2   +   cardsGutterWidth
  .artifact-cards
    width cardWidth * 2   +   cardsGutterWidth * 2

@media screen and (min-width: 1000px)
  .artifact-directory
    width cardWidth * 3   +   cardsGutterWidth * 2
  .artifact-cards
    width cardWidth * 3   +   cardsGutterWidth * 3

@media screen and (min-width: 1400px)
  .artifact-directory
    width cardWidth * 4   +   cardsGutterWidth * 3
  .artifact-cards
    width cardWidth * 4   +   cardsGutterWidth * 4

@media screen and (min-width: 1800px)
  .artifact-directory
    width cardWidth * 5   +   cardsGutterWidth * 4
  .artifact-cards
    width cardWidth * 5   +   cardsGutterWidth * 5
