body.faq

  .faqs
    padding gd(2)

  .faq-toc-container
    background-color nwhite
    border-right 1px solid ndarkMuted
    width 40%
    min-width 380px
    .nav
      margin-top gd(2)
      margin-right gd(2)

  .faq-toc
    width 100%
    min-width 380px
    &.ui-scrollfix
      width 40%
      top 0px

    li a
      color lighten(ndarkText, 10)
    li.active a
      background-color hsla(57.14, 96.92%, 87.25%, 1)
      color ndark

    .nav
      margin-right 40px
