.ty-section-title
  font-size 4rem
  line-height 1.25
  font-weight normal

body.about
  .moodshot
    background-image url('/images/white-hash-20.png'), url('/images/mission-moodshot.jpg')
    background-repeat repeat, no-repeat
    background-size auto, cover
    background-position top, center
    height gd(22)
  .app-footer
    margin-top 8rem


.limay
  background-image url('/images/white-hash-100.png')
  background-color ngrey-subtle
  border-bottom 1px solid ngrey-subtle

.limay-map
  width 50%
  height 900px

.limay-text
  padding gd(2) gd(3)
  width 50%
  max-width 600px

.essay-chapter
  padding 5rem

.chapter-title
  width 400px

.chapter-text
  -moz-column-width 400px
  -moz-column-gap 60px

.essay-chapter-2
  background-image url('/images/white-hash-100.png')
  background-color ngrey-subtle
  border-top 1px solid ngrey-subtle
  border-bottom 1px solid ngrey-subtle
