

body.mission

  .app-footer
    margin-top 8rem

  .introduction
    background-color blue
    min-height gd(26)
    background-image url('/images/white-hash-20.png')

  .moodshot
    background-image url('/images/white-hash-20.png'), url('/images/mission-moodshot.jpg')
    background-repeat repeat, no-repeat
    background-size auto, cover
    background-position top, center
    height gd(22)



// Limay section
//--------------------------------------------------

.limay
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-bottom 1px solid grayMuted

.limay-text
  padding gd(2) gd(3)
  width 50%
  max-width 600px

.limay-map-container
  width 50%

.limay-map
  width 100%
  height 900px

.limay-map-tip
  background url('/images/white-hash-20.png') yellow
  padding 0.5rem 1rem
.map-tip-icon
  width 24px
.map-tip-content
  padding-top 6px
  padding-left 1rem



// Essay Sections
//--------------------------------------------------

.essay-chapter
  padding 5rem

.chapter-title
  width 400px

.chapter-text
  column-width 400px
  column-gap 60px

.essay-chapter-2
  background-image url('/images/white-hash-100.png')
  background-color grayMuted
  border-top 1px solid grayMuted
  border-bottom 1px solid grayMuted
