

body.participate

  .involvement-type
    border-right 1px solid ndark-subtle
    background-color nwhite
    padding gd(1)
    width 40%
    .jar
      width cols(6)

  .involvement-form
    padding gd(1)
    button
      height gd(4)

  section.can-do
    border-bottom 1px solid ndark-subtle



@media screen and (max-width: 1200px)
  body.participate
    form button
      display block
      margin-left 0!important
