


body.participate
  .involvement-type
    border-right 1px solid darkMuted
    background-color grayLightest
    width 40%

  .involvement-form
    button
      height gd(3)

  section.can-do
    border-bottom 1px solid darkMuted



@media screen and (max-width: 1600px)
  body.participate
    form button
      display block
      margin-left 0!important
