.other-things-you-can-do-to-help
  .involvement-type
    border-right 1px solid ndark-subtle
  section.can-do
    border-bottom 1px solid ndark-subtle

.involvement-type
  background-color nwhite
  padding gd(1)
  width 40%
  .jar
    width cols(6)

.involvement-form
  padding gd(1)
  button
    height gd(4)

@media screen and (max-width: 1200px)
  .other-things-you-can-do-to-help
    form button
      display block
      margin-left 0!important
