

// .register-info-container
//------------------------------------------

.register-info-container
  border-top 1px solid ngreyMuted

.register-info-aside
  width 40%
  background-color nwhite
  border-right 1px solid ngreyMuted

register-content-boxes-padding = 4
.register-info-aside
.register-info-body
  padding-top gd(register-content-boxes-padding)
  padding-bottom gd(register-content-boxes-padding*2)
.register-info-aside
  padding-right gd(register-content-boxes-padding)
.register-info-body
  padding-left gd(register-content-boxes-padding)






// .register-info-container
//------------------------------------------

body.register-your-product
  .introduction
    margin-top -12px
    h1
      margin-top 0

@media screen and (max-width: 1100px)
  .header-inner
    width 500px

  body.register-your-product
    .introduction
      margin-bottom gd(1)
    form
      margin-left 0!important
