.register-your-product

  .introduction
    margin-top -12px
    h1
      margin-top 0

@media screen and (max-width: 1100px)
  .header-inner
    width 500px

  .introduction
    margin-bottom gd(1)

  .register-your-product
    form
      margin-left 0!important


