font_size = 20px
grid_units_per_column = 3

gd(grid_units)
  font_size * grid_units

cols(n)

  columns_size = gd(n*grid_units_per_column)

  // -1 because there is no gutter for the first/a single column
  gutters_size = gd(n - 1)

  columns_size + gutters_size

decimal_to_class_name(num)
  if num is 0.25
    "025"
  else if num is 0.5
    "05"
  else if num is 0.75
    "075"
  else
    num

uncascade(property, value, undo_value)
  add-property(property, value)
  & > *
    add-property(property, undo_value)



overlay(z-index-value=10)
  position relative
  &:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ""
    z-index z-index-value

stop-collapse()
  &:after
  &:before
    content "."
    display block
    overflow hidden
    square(0)
