box-sizing()
  -moz-box-sizing arguments
  box-sizing arguments

transition-duration()
  -webkit-transition-duration arguments
  -moz-transition-duration arguments
  -ms-transition-duration arguments
  -o-transition-duration arguments
  transition-duration arguments

transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  -ms-transition-property arguments
  -o-transition-property arguments
  transition-property arguments

column-width()
  -moz-column-width arguments
  -webkit-column-width arguments
  column-width arguments

column-gap()
  -moz-column-gap arguments
  -webkit-column-gap arguments
  column-gap arguments
