


//
//  Row-cells
//  --------------------------------------------------
//
//  Description:
//  Children heights are linked



.row-cells
  display table
  block-align center
  padding _ grid-column-gutter-width
  & > *
    display table-cell
    vertical-align top

// using width not max-width
// might introduce FF bug
// that is worked around
// in .row, but .row-cells
// does not work well with
// max-width because it does
// not span to the max possible width
// but instead wraps its content

@media screen-xs
  .row-cells
    width 400px
    display block
    & > *
      display block
    &.row--flush
      padding _ 0

@media screen-s
  .row-cells
    width screen-w-s

@media screen-m
  .row-cells
    width screen-w-m

@media screen-l
  .row-cells
    width screen-w-l
