

.grid-bounds-screen-xs
.grid-bounds
  block-align center

@media screen-xs
  .grid-bounds-screen-xs
  .grid-bounds
    max-width 400px

@media screen-s
  .grid-bounds
    max-width screen-w-s

@media screen-m
  .grid-bounds
    max-width screen-w-m

@media screen-l
  .grid-bounds
    max-width screen-w-l

