

.grid-bounds
  block-align center
  padding-left  grid-column-gutter-width
  padding-right grid-column-gutter-width

@media screen-xs
  .grid-bounds-screen-xs
  .grid-bounds
    max-width 400px

@media screen-s
  .grid-bounds
    max-width screen-w-s

@media screen-m
  .grid-bounds
    max-width screen-w-m

@media screen-l
  .grid-bounds
    max-width screen-w-l

