//
//  Push Grid Columns
//  --------------------------------------------------

@media screen-s-up
  for n in 1..grid-row-column-count
    .grid-push{n}
      margin-left fluid-columns(columnsCount:n)
