


//  Notes
//
//- Source-order matters for CSS class priority
//  .cols must be defined before media queries
//  so that those queries can override padding-right
//
//- keep specificity low
//  we cannot use :not, :last-child, etc. selectors here
//  or else we destroy upstream class opportunities for padding, and/or width
//

for n in 1..12
  .cols{n}
    width fluid-columns(columnsCount:n)





//  Children are horizontal
//
.row
  inline-block-container(considerWrap:true, wrapSelector:'.wrap')

  //  Nested rows
  //  - nested rows should not receive width specifications
  //  - if has colsN class then don't do anything, width will be set by colsN
  .row:not([class*="cols"])
    width auto

//  Children heights are linked
//
.row-cells
  display table
  // xxx does 100% cause problems? Mainly, can it be easily overridden?
  width 100%
  & > *
    // ...must be a cell
    display table-cell
    vertical-align top



//  Responsive Grid
//  ---------------

//  Notes
//  - use max-width instead of width because we cannot rely on the width 100%
//    http://www.456bereastreet.com/archive/201101/media_queries_viewport_width_scrollbars_and_webkit_browsers/
//    the breakpoint for Webkit/FF is not the same, and a width would cause an hscroll in FF




@media screen-xs
  .row-cells
    display block
    & > *
      display block

  .row
    width auto
    // no gutters when full-width for every column
    padding-left  grid-gutter-width
    padding-right grid-gutter-width
    .row
      padding-left 0
      padding-right 0
  [class*=" cols"], [class^="cols"]
    width 100%
    display block



@media screen-s
  .row:not([class*="cols"])
    max-width screen-w-s
    margin-right auto
    margin-left auto

@media screen-s-up
  [class*=" cols"], [class^="cols"]
    &:not(:first-child)
      padding-left  (grid-gutter-width / 2)
    &:not(:last-child)
      padding-right (grid-gutter-width / 2)

  for n in 1..12
    .grid-push{n}
      margin-left fluid-columns(columnsCount:n)


@media screen-m
  .row:not([class*="cols"])
    max-width screen-w-m
    margin-right auto
    margin-left auto

