a
  text-decoration none
  color linkColor
  &:hover
    color linkColorHover
  &:visited
    color inherit

h1, h2, h3, h4, h5, h6
  font-weight normal
  margin-bottom 0

p, h1, h2, h3, h4, h5, h6
  margin-bottom 0
  margin-top 0


sub
  font-size 0.6em

small
  display inline-block
