.xxl, .text-heading1, h1, h2
  font-size 2.25rem
  line-height 1.5
@media screen-s-up
  .xxl, .text-heading1, h1, h2
    font-size 3rem



.l, .text-heading3, .text-heading2, h3, h4
  font-size 1.3333333rem
  line-height 1.5


.m, .text-m, .text-body
  font-size 1rem
  line-height text-line-height-base



.s, .text-s, .text-small, small
  font-size 0.8rem
  line-height 1.5

h5, h6
  font-weight 600

strong
  font-weight 600
