// this needs to be defined after font
// classes to override them
.unspaced
  margin 0 _
  line-height 1

.text-color-inverse
  color textColorInverse

// comfortable reading width
.text-container
  max-width 30rem
.text-container-l
  max-width 40rem


.text-context, article

  ul, ol
    margin-left 1.5em
  ul
    list-style disc
  ol
    list-style decimal

  li:not(:last-child)
    margin-bottom (1.875em / 2)
  p, img, ul
    &:not(:last-child)
      margin-bottom 1.875em

  h1, h2
    &:not(:last-child)
      margin-bottom 0.5em

  h3, h4, h5, h6
    &:not(:last-child)
      margin-bottom 1em

  img
    display block
