


//
//  Typography
//  ------------------------------------------

text-font-family-sans  = 'Helvetica Neue', Helvetica, Arial, sans-serif
text-font-family-serif = Georgia, 'Times New Roman', Times, serif
text-font-family-mono  = Monaco, Menlo, Consolas, 'Courier New', monospace
text-font-family-base  = text-font-family-sans

//  Define a body-copy font-size

text-size-base = 14px
text-size-base-phone = text-size-base
text-size-base-desktop = 16px
