


//  CO2R DOCUMENTATION PAGE
//  -----------------------

body.docs
  pre
    margin-bottom gd(1)
  padding gd(2) gd(4)
  .app-footer
  .app-header
    display none


.docs-section > h1
  margin-bottom gd(1)

.docs-section + .docs-section
  margin-top gd(8)

.docs-component + .docs-component
  margin-top gd(3)
