


//  CO2R DOCUMENTATION PAGE
//  -----------------------

body.docs
  padding gd(2) gd(4)
  .app-footer
  .app-header
    display none


.docs-section + .docs-section
  margin-top gd(3)

.docs-component + .docs-component
  margin-top gd(2)
