


section.docs-section
  h1 Typography

  codeblock.
    .text-heading1
    .text-heading2
    .text-heading3
    .text-heading4
    .text-body
    .text-small

  .text-heading1 .text-heading1
  .text-heading2 .text-heading2
  .text-heading3 .text-heading3
  .text-heading4 .text-heading4
  h5 h5
  h6 h6

  a link
  a(href="#") link



section.docs-section
  h1 Inputs

  .control-group
    input(type='text', placeholder="Enter something")

  .control-group
    .input-prepend
      label: i.icon-lightbulb
      input(type='text', placeholder="What is your idea?")

  .control-group
    .input-prepend
      input(type='text', placeholder="Photo title")
      label: i.icon-camera

  .control-group
    textarea(placeholder="Give us your feedback")

section.docs-section
  h1 Buttons

  section.docs-component
    codeblock.
      button|a.btn

    button.btn Submit
    a.btn(href="#") Submit

  section.docs-component
    codeblock.
      button|a.btn.btn--subtle

    button.btn.btn--subtle Submit
    a.btn.btn--subtle(href="#") Submit
