


section.docs-section.typography
  h1 Typography

  pre.codeblock.
    .text-heading1
    .text-heading2
    .text-heading3
    .text-heading4
    .text-body
    .text-small

  .text-heading1 .text-heading1
  .text-heading2 .text-heading2
  .text-heading3 .text-heading3
  .text-heading4 .text-heading4
  h5 h5
  h6 h6

  a link
  a(href="#") link



section.docs-section.controls
  h1 Controls

  section.docs-component
    pre.codeblock.
      button|a.btn

    button.btn button.btn
    a.btn(href="#") a.btn

  section.docs-component
    pre.codeblock.
      button|a.btn.btn--subtle

    button.btn.btn--subtle button.btn--subtle
    a.btn.btn--subtle(href="#") a.btn--subtle
