


section.docs-section
  h1 Typography

  .docs-component
    codeblock.
      .xxl    h1 || h2
      .l      h3 || h4
      .m      (root)
      .s      small
              em
              strong || h5 || h6
    .text-context(style="max-width:33rem;")
      h1 The Limay Community Carbon Project
      h3 Being CO2 Responsible means taking concrete steps to reduce one's environmental impact
      p The Limay Community Carbon Project is a community-based reforestation initiative that works with small-scale farming families in Nicaragua to restore ecosystems, improve livelihoods and tackle climate change.
      p: strong Reforestation
      p The project is developed according to the [Plan Vivo Standard], a system that offers incentives to farmers who agree to manage their land in a way that provides an ecological service, such as planting and maintaining trees to absorb carbon.
      p: em: small The Limay Community Carbon Project is developed by [Taking Root], a non-profit organization, based in Montreal (Canada).

  .docs-component
    h3 Themes

    codeblock.
      .color-theme
      .blue-theme
      .green-theme
      .yellow-theme
      .all-yellow-theme

    article(style="max-width:40rem;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ul
        li list item 1
        li list item 2
        li list item 3


    article.color-theme.dark-theme(style="max-width:40rem;padding:2rem;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ul
        li list item 1
        li list item 2
        li list item 3

    article.color-theme.blue-theme(style="max-width:40rem;padding:2rem;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ul
        li list item 1
        li list item 2
        li list item 3

    article.color-theme.green-theme(style="max-width:40rem;padding:2rem;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ul
        li list item 1
        li list item 2
        li list item 3

    article.color-theme.yellow-theme(style="max-width:40rem;padding:2rem;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ul
        li list item 1
        li list item 2
        li list item 3

    article.color-theme.all-yellow-theme(style="max-width:40rem;padding:2rem;margin-top:1px;")
      p
        | The Limay Community Carbon Project is developed by
        = ' '
        a(href="#") Taking Root
        | , a non-profit organization, based in Montreal (Canada).

      ol
        li list item 1
        li list item 2
        li list item 3


section.docs-section
  h1 Misc Classes

  codeblock.
    .link-heading
    .text-color-inverse



section.docs-section
  h1 Inputs

  codeblock.
    <input type="text">
    <textarea></textarea>

  .control-group
    input(type='text', placeholder="Enter something")

  .control-group
    textarea(placeholder="Give us your feedback")

  h3 Demos

  .control-group
    .input-prepend
      label: i.icon-lightbulb
      input(type='text', placeholder="What is your idea?")

  .control-group
    .input-prepend
      input(type='text', placeholder="Photo title")
      label: i.icon-camera



section.docs-section
  h1 Buttons

  section.docs-component
    codeblock.
      button|a.btn

    button.btn Submit
    a.btn(href="#") Submit

  section.docs-component
    codeblock.
      button|a.btn.btn--subtle

    button.btn.btn--subtle Submit
    a.btn.btn--subtle(href="#") Submit



section.docs-section
    h1 Directives

  .docs-component
    h3
      span(keyword="co2")
      |  amount comparisons
    codeblock
      span.co2-contrasted(amount="4")
    span.co2-contrasted(amount="4")

  .docs-component
    h3 keywords
    codeblock
      span(keyword="co2")
    span(keyword="co2")

  .docs-component
    h3 Defined terms (todo)

    codeblock.
      <span co2r-definition>carbon</span>
      <span co2r-definition="carbon"></span>
    div(co2r-definition) carbon
    div TODO: div(co2r-definition="carbon")
