


.mission-cta
  display: table;
  width: 100%;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: rgba(252, 171, 0, 0.3);
  border-radius: 0.3333em;
  background-color hsl(46.76, 100.00%, 60.00%) !important

  border-bottom none !important
  box-shadow none !important
  opacity 0.7
  &:hover
    opacity 1

.cta__icon
  font-size 1.25em
  color yellowAccent
.cta__icon
.cta__text
  display table-cell !important
  vertical-align middle

.big-emissions-badge
  background-color fade-out(white, 0.2)
  border-radius 0.25em
  margin gd(0.5) _

.co2-infographic
  margin-top 1.5rem
  opacity 0.6

.stats-table
  td
    vertical-align top
  td:not(:last-child)
    padding-right gd(0.25)

body.artifact

  .reports
    padding-bottom gd(10)

  section.about
    background-image url('/images/white-hash-20.png')

  section.org
    // color vars because of font-awesome selection limitations
    background-color-value     = hsl(90.00, 7.69%, 94.90%)
    contact-method-color       = fade-out(dark, 0.75)
    contact-method-color-hover = dark
    background-color background-color-value

    .org__contact-methods
      margin-top gd(1/4)

    .org__contact-method
      size 2.4rem
      line-height 38px
      text-align center
      i
        // undo fontawesome
        width auto

        font-size 2.75rem
        line-height 0.9
        color contact-method-color
        &:hover
          color contact-method-color-hover

    // due to font-awesome not having an icon-email-sign etc.
    .contact-method-other
    .contact-method-website
      padding-top 0.2em
    .contact-method-email
      padding-top 0.15em
    .contact-method-website
    .contact-method-email
    .contact-method-other
      font-size 3.25rem
      background-color contact-method-color
      border-radius 5px
      &:hover
        background-color contact-method-color-hover
      i
        vertical-align top
        font-size 1.5rem
        color background-color-value
        &:hover
          color background-color-value



.org__logo
  size 100px
  display block
  img
    height 100%
    display block

.report-section-other-eco-actions
  .actions-category-title
    margin-left gd(1/4)
  .actions
    margin-left gd(1) !important
  .timeline-item
    padding-right gd(2)
