


//  Timeline Header (navigation, column labels (years))
//  ---------------------------------------------------

.timeline-header
  user-select none
  .can-scrollfix
    z-index 10
  .is-scrollfix
    top 0

//  Navigation

.timeline-navigation__button
  size 2.75rem
  z-index 20
  padding 0




//  Timeline Structure
//  ------------------

.timeline-conductor
  white-space nowrap
  & > *
    white-space normal

.timeline-slider-window
  overflow hidden

.timeline-slider
  transition left 250ms

.timeline-item
  white-space normal
