

.report-section
  padding m _
  stop-collapse()
  &:not(:last-child)
    border-bottom 1px solid lightgrey

.reports-header
  padding-bottom 2rem

.report-title
  block-align center
  text-align center

.report-header
  margin-bottom gd(1)

.graph-bar
  stroke textColorDark
  fill textColorDark

.bar-labels
  margin-left 43px
  margin-right 43px
.bar-label
  width 50%
  white-space nowrap

.timeline-header
  height 52px
.timeline-header-inner.is-scrollfix
  position fixed




.report-section-total-vs-offset
  .trees-planted-bar
    stroke green
    fill green

  .bar-label
    padding 0.5em 0
  .total-co2-label
    padding-right 6px
  .trees-planted-label
    padding-left 6px
    &:after
      content ''
      vertical-align top
      display inline-block
      height 1.25em
      width 1.25em
      margin-top -0.125em
      background url('/images/icons/young-tree.png') center no-repeat
      background-size auto 100%



.report-section-co2-sources
  padding-bottom gd(2)

  .report-header
    block-align center

  .pie-label
    font-weight bold
    opacity 0.85
    fill dark

  .legend-items
    white-space normal

  .legend-item
    color lighten(textColorDark, 10)
    // border-color is dynamically set, inline
    border-bottom-width .4em
    border-bottom-style solid
    padding 0 1em .25em 1em
    margin-bottom 1em
    &:not(:first-child)
      margin-left 1px



.report-section-other-eco-actions
  .timeline-item
    padding-right gd(1.25)
    ul
      margin-left 0

  .actions-category-title
    margin-top 0
