@import 'styles-variables'

body.directory

  .home-introduction
    &.closed
      height l
      overflow hidden

  .introduction
    background-image url('/images/white-hash-20.png')

  .intro__title
    margin-bottom 0.5em

  .introduction-toggler
    font-size s
    padding .15em
    size l

.action-steps-container
  background-color lighten(gray, 5)
  background-image url('/images/white-hash-30.png'), url('/images/white-hash-30.png')
  padding gd(2) _
.action-step:not(:first-child)
  margin-top gd(1)
.action-step
  i
    margin-right 0.25em
    font-size 1.5em
    vertical-align middle
    color darken(blue, 30)
  &:last-child
    display none

@media screen-s-up
  .action-step i
    margin-left -1.4em
    font-size 2em






//  Search input for Directory listing
//  --------------------------------------------------

.form-search
  margin gd(1) _
  input-height = 3.7rem
  input
    background-color transparent
    border 1px solid red
    border-radius 0!important
    padding .4em .5em
    height input-height
    color textColorDark
    font-size 1.25rem
    &::-webkit-input-placeholder
      color #CCC
    &::-ms-input-placeholder
      color #CCC
    &::-moz-placeholder
      color #CCC

    &:focus
      box-shadow none
      border-color red
      outline 10px solid fade-out(red, 0.95)
      color dark
  label
    text-align center
    height input-height
    width input-height
    font-size 2rem
    background-color red
    color grayLight
    // undo bootstrap
    border-radius 0!important
    border none



//  Directory listing (with responsiveness)
//  --------------------------------------------------

.artifact-directory
  block-align center
  margin-bottom gd(5)

@media screen and (max-width:389px)
  .artifact-directory
    margin-bottom gd(0.5)

  .form-search
      padding _ 1px
      margin 1px _

  .artcard
    border-radius 0
    margin-bottom 2px
    width 50%
    &:nth-child(odd)
      padding-left 1px
      padding-right 1px
    &:nth-child(even)
      padding-left 1px
      padding-right 1px

@media screen and (min-width: 390px) and (max-width:699px)
  directoryGrid(2, cardWidth, cardsGutterWidth)

@media screen and (min-width: 700px) and (max-width:999px)
  directoryGrid(3, cardWidth, cardsGutterWidth)

@media screen and (min-width: 1000px) and (max-width:1199px)
  directoryGrid(4, cardWidth, cardsGutterWidth)

@media screen and (min-width: 1200px) and (max-width:1799px)
  directoryGrid(5, cardWidth, cardsGutterWidth)

@media screen and (min-width: 1800px)
  directoryGrid(6, cardWidth, cardsGutterWidth)
