

.home-introduction.group(ng-class="{open:directory.introductionState(), closed:!directory.introductionState()}")

  button.introduction-toggler.c-btn.pin-r(style="z-index:100;", ng-click="directory.toggleIntroduction()")
    span(ng-class="{'icon-chevron-up':directory.introductionState(), 'icon-chevron-down':!directory.introductionState()}")

  .moodshot.hash-overlay

  section.introduction.color-theme.blue-theme
    .row-cells.vpadding-m
      article.introduction-copy.cols5
        .intro__title
          h1.text-color-inverse(bind-compile="appText.introduction_title")
        .introduction-text(bind-compile="appText.introduction_text")
        br
        include ../partial-learn-more

      div.cols1
      section.cols5.align-middle
        .action-steps.text-context
          .action-step(class="action-step{{$index+1}}", ng-repeat="step in directory.actionSteps")
            a(href="{{step.link}}")
              h1.l.text-color-inverse
                i(class="icon-{{step.icon}}")
                | 
                span(bind-compile="appText[step.title]")
            p(bind-compile="appText[step.body]")




.artifact-directory
  form.form-search.flex
    label(for="search-artifacts"): span.icon-search
    input.span.l(id="search-artifacts", type="text", ng-model="searchForArtifactName", autofocus,
      placeholder="{{appText.directory_filter_input_prompt}}")

  .artcards.artifact-cards.span.hbox.wrap
    a.artcard.artifact-card(href="{{artifact.slug}}", ng-repeat="artifact in directory.artifacts | filter:searchForArtifactName")
      .artcard__header.artifact-card-header.group
        .artcard__poster
          img.block(ng-src="{{artifact.thumbnail_url}}")
        .artcard__meta-ribbon.artifact-card-meta-ribbon.pin-b
          .co2-badge.jar
            small.co2-what(ng-bind="artifact.unit_quantity +' '+ artifact.unit_verbose")
            br
            strong.co2-contrasted(amount="{{artifact.footprints[0].co2_per_unit}}")
      .artcard__body.yellow-theme
        .artcard__body-inner.align-middle(style="display:table-cell")
          h1.organization-name.m(ng-bind-html="artifact.name | highlight:searchForArtifactName")
