

.home-introduction.group(ng-class="{open:introductionState(), closed:!introductionState()}")

  button.introduction-toggler.c-btn.pin-r(style="z-index:100;", ng-click="toggleIntroduction()")
    span(ng-class="{'icon-chevron-up':introductionState(), 'icon-chevron-down':!introductionState()}")

  .moodshot.hash-overlay

  section.introduction.color-theme.blue-theme
    .row.vpadding-m
      .introduction-copy.cols12
        h1.text-heading1.text-color-inverse(bind-compile="appText.introduction_title")
        .introduction-text(bind-compile="appText.introduction_text")

  section.action-steps-container
    .action-steps.row
      a.action-step.cols4.transparent-link(href="{{step.link}}", class="action-step{{$index+1}}", ng-repeat="step in actionSteps")
        h1.text-heading3.action-step-title
          i(class="icon-{{step.icon}}")
          = ' '
          span(bind-compile="appText[step.title]")
        p.text-small(bind-compile="appText[step.body]")




.artifact-directory
  form.form-search.span.group
    .input-prepend.span
      label.add-on(for="search-artifacts"): span.icon-search
      input.span.text-heading3(id="search-artifacts", type="text", ng-model="searchForArtifactName", autofocus,
        placeholder="{{appText.directory_filter_input_prompt}}")

  .artifact-cards.span.gutters-1.hbox.wrap
    a.artifact-card(href="{{artifact.slug}}", ng-repeat="artifact in artifacts | filter:searchForArtifactName")
      .artifact-card-header.group
        .poster
          img(ng-src="{{artifact.thumbnail_url}}")
        .artifact-card-meta-ribbon.pin-b
          .co2-badge.jar
            span(ng-bind="artifact.unit_quantity +' '+ artifact.unit_verbose")
            br
            span.co2-contrasted(amount="{{artifact.footprints[0].co2_per_unit}}")
      .artifact-card-body
        h1.organization-name.text-heading3(ng-bind="artifact.name | highlight:searchForArtifactName")
