
.align-center.v-push-3
  .a-image.col-6.v-push-3(style="height:200px;")
  .introduction-copy.col-6
    h1(co2r-bind="'introduction_title' | i18n")
    .introduction-text(co2r-bind="'introduction_text' | i18n")

.align-center.v-push-3
  .row
    section.col-6
      h2
        i.icon-globe(style="position:absolute;left:-30px;")
        .community-title(co2r-bind="'about.community_title' | i18n")
      .community-text(co2r-bind="'about.community_text' | i18n")
    section.farmers-short.col-6
      .row.aligns-middle.h-gutters-05
        h2 Carbon farmers
        p: a  (see all 365)

  .tabbable.v-push-2
    ul.nav.nav-tabs(style="margin-bottom:0;")
      li.active: a(href="#tab-1", tab)
        i.icon-map-marker
        span(co2r-bind="'about.tab_label_map' | i18n")
      li: a(href="#tab-2", tab)
        i.icon-facetime-video
        span(co2r-bind="'about.tab_label_video' | i18n")
    .tab-content

      .tab-pane.active#tab-1
        div(style="width:100%;height:400px;", ui-map, ui-options="map_options")

      .tab-pane#tab-2
        .a-image(style="height:400px;") TODO Video

    .row.v-push-2
      .col-4(ng-repeat="num in [1,2,3]")
        header
          .a-image(style="height:200px")
          h3.text-align-center(co2r-bind="'about.topic_'+num+'.title' | i18n")
        .text.v-push-1(co2r-bind="'about.topic_'+num+'.text' | i18n")
br
br
br
br
br
br
br
br
br
br
br
