ul.unstyled.app-navbar.frame.span.aligns-middle
  .row.h-gutters-1.aligns-middle
    li(class="{{nav_item.label | slugify}}", ng-repeat="nav_item in navs.primary")
      a(ng-href="{{nav_item.url}}") {{ nav_item.label | i18n}}
    li
      a(popover="{content_src:'/partials/form_feedback.html', placement:'bottom'}") {{ 'give_us_feedback' | i18n}}
  div
    .jar.row.h-gutters-1.align-right(style="white-space:nowrap;")
      li(class="nav_item.label | slugify", ng-repeat=" nav_item in navs.callout ")
        a.btn(ng-href="{{nav_item.url}}") {{ nav_item.label | i18n }}
      li
        button.btn(ng-click="preferences.restoreDefaults()", tooltip="{title:'Restore preferences', placement:'left'}")
          span.icon-undo
