footer.app-footer.dark-theme
  .frame.span
    ul.nav.span-4
      li: a Our mission
      li: a FAQ
      li: a Register your product
      li: a Other things you can do to help
    div
      .jar.row.h-gutters-2.align-right
        .sponsors.span4
          h3 Caisse d'economie solidaire
          p lorem
        .company.span4
          h3 Taking Root
          p lorem

  br
  br
  br
  br
  br
