ul.unstyled.app-navbar.frame.span.aligns-middle
  .row.h-gutters-1.aligns-middle
    li: h3
      a(ng-href="/directory").aligns-middle
        img(style="height:30px;", src="{{data.srcs.logo}}")
        |  CO2R
    li: a(ng-href="/about") Our mission
    li: a(ng-href="/faq") FAQ
    li: a(popover="{content_src:'/partials/form_feedback.html', placement:'bottom'}") Give us feedback
  div
    .jar.row.h-gutters-1.align-right
      li: a.btn(ng-href="/register-your-product") Register your product
      li: a.btn(ng-href="/other-things-you-can-do-to-help") Other things you can do to help
      li
        button.btn(ng-click="preferences.restore_defaults()", tooltip="{title:'Restore preferences',placement:'left'}")
          span.icon-undo
