.jar.align-center.v-push-3

  .gallery.span-10.group(ui-if="artifact.images.length")
    carousel(style="min-height:380px;")
      carousel-item.span-10(ng-repeat="image in artifact.images", src="{{image.src}}", caption="{{image.caption}}")
    .emissions-badge.pin-right.pin-top(style="margin:20px 20px; 0 0")
      h4.unspaced
        | {{artifact.co2_per_unit_phrase}}
        br
        co2-contrasted(amount="{{artifact.reports[0].co2_per_unit}}")

  section.about.v-push-2
    header
      h1 {{artifact.name}}
      h4 Offset since {{artifact.offset_since}}
    .row.v-push-1
      .description.col-6
        .story(ng-bind-html="artifact.description")
        small: a.aligns-middle(href="/about")
          i.icon-pushpin
          span Learn more about the CO2R platform

      .col-4
        .business-card.row.h-gutters-1.float-right
          .avatar.a-image(style="width:100px;height:100px;")
            img(src="{{artifact.owner.logo_src}}")
          .jar
            h4.company-namy.unspaced(style="min-height:45px;") {{artifact.owner.name}}
            .contact(ui-if="artifact.owner.contact_methods.length > 0")
              p Get in touch:
              ul.row.unstyled: li(ng-repeat="contact_link in artifact.owner.contact_methods")
                //- TODO mailto fails without handling special case of email links
                h3.unspaced(style="line-height:0;"): a(href="{{contact_link.link}}", class="icon-{{contact_link.type | to_icon_name}}")


section.reports.v-push-5.span.a-image(ui-if="artifact.reports.length")
  header(style="text-align:center;")
    h1 Footprint Summary Reports

  timeline-conductor(style="white-space:nowrap;", column-width="{{column_width}}", column-count="{{artifact.reports.length}}", ui-scrollfix="+0")

      section.timeline-header.span.scrollfix-fixed(ui-scrollfix="+0")
        .timeline-navigation.clearfix(style="font-size:24px;height:30px;")
          a.pull-left(style="margin-top:2px;"): i.icon-arrow-left.align-middle(  ng-show="can_move_timeline('+1')", style="margin-left:20px;",  ng-click="move_timeline('+1')")
          a.pull-right(style="margin-top:2px;"): i.icon-arrow-right.align-middle(ng-show="can_move_timeline('-1')", style="margin-right:20px;", ng-click="move_timeline('-1')")
        timeline-slider
          .row
            h5.unspaced.a-image.year.text-align-center.timeline-item(style="width:{{column_width}}px", ng-repeat="report in artifact.reports | orderBy:'year'", ng-bind="report.year")

      section.report-section.report-section-co2-per-unit
        report-header-basic
          span.co2-keyword Co2
          | per 1 kg coffee
        timeline-slider
          chart-co2-per-unit(column-width="{{column_width}}", data="{{data.co2_per_unit}}")
          .row.text-align-center(style="border-top:1px solid lightgrey")
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in artifact.reports | orderBy:'year'")
              h4: co2-contrasted(amount="{{report.co2_per_unit}}")

      section.report-section.report-section-total-vs-offset
        report-header-basic
          span.co2-keyword Co2
          | for all coffee bags produced - vs - Co2 offset
        timeline-slider
          chart-total-co2-vs-offset(column-width="{{column_width}}", data="{{data.total_co2_vs_offset}}")
          .row.rext-align-center
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in artifact.reports | orderBy:'year'")
              h4: {{ calc_trees_planted(report.offset_co2, report.year) }}

      section.report-section.report-section-co2-sources
        report-header-basic
          span.co2-keyword Co2
          | Sources
        timeline-slider
          .row
            .timeline-item(style="width:{{column_width}}px", ng-repeat="co2_sources in data.co2_sources")
              chart-co2-sources(column-width="{{column_width}}", data="{{co2_sources}}")

      section.report-section.report-section-other-eco-actions
        report-header-basic Other Environmental actions
        timeline-slider
          .row
            .timeline-item(style="width:{{column_width}}px", ng-repeat="report in artifact.reports | orderBy:'year'")
              ul: li(class="action-type-{{action.type | slugify}}", ng-repeat="action in report.other_eco_actions")
                i(class="icon-{{action.type | slugify}}")
                span {{action.label}}

      section.report-section.text-align-center
        button.btn.btn-inverse.v-push-4
          h3
            i.icon-download
            |  Download the {{artifact.reports[0].year}} report
br
br
br
br
br
