.jar.align-center.v-push-3
  section.gallery.group
    .a-image.span-10(style="height:260px;")
    .emissions-badge.pin-bottom(style="margin:0 0 20px 20px;")
      h4.unspaced
        | {{artifact.co2_per_unit_phrase}}
        br
        | {{artifact.annual_data.2012.co2_per_unit | unit:"kg" }}

  section.about.v-push-2
    header
      h1 {{artifact.name}}
      h4 Offset since {{artifact.offset_since}}
    .row.v-push-1
      .description.col-6
        .story(ng-bind-html="artifact.description")
        small: a.aligns-middle(href="/about")
          i.icon-pushpin
          span Learn more about the CO2R platform

      .col-4
        .business-card.row.h-gutters-1.float-right
          .avatar.a-image(style="width:100px;height:100px;")
          .jar
            h4.company-namy.unspaced(style="min-height:45px;") {{artifact.owner.name}}
            .contact(ui-if="artifact.owner.contact_links.length > 0")
              p Get in touch:
              ul.row.unstyled: li(ng-repeat="contact_link in artifact.owner.contact_links")
                //- TODO mailto fails without handling special case of email links
                h3.unspaced(style="line-height:0;"): a(href="{{contact_link.link}}", class="icon-{{contact_link.type | to_icon_name}}")



  section.reports.v-push-5
    header(style="text-align:center;")
      h1 Footprint Summary
br
br
br
br
br
