.jar.align-center(ng-show="preferences.get('show_introduction')")
  .vintage-box-models.pin-right
    button.btn.icon-remove(ng-click="preferences.set('show_introduction', false)")
  .a-image.col-6.v-push-3(style="height:200px;")
  .introduction-copy.col-6
    h1 CO2 Responsible
    p.lead
      | We help companies be responsble about the
      a(popover="{title: 'What is carbon?', content: 'accusantium doloremque laudantium, totam rem aperiam'}")  carbon
      |  their products emit into the atmosphere. We achieve this by planting enough trees in Nicaragua to negate their emissions.
    p Sed ut perspiciatis unde omnis iste natus error [Taking Root] sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    a.btn(href="/about") Learn More


form.form-search.vintage-box-models.jar.align-center
  .input-prepend
    span.add-on: span.icon-search
    input.search-query.span5(type="text", ng-model="artifact_name", placeholder="Filter Co2 responsible products by name")

.artifact-cards.row.gutters-05

  a.artifact-card.frame(href="{{artifact.slug}}", ng-repeat="artifact in artifacts | filter:{name:(artifact_name||'')}")
    .artifact-card-image.span-2.a-image-160
    .artifact-card-info.span-2
      h4
        | {{artifact.co2_per_unit_phrase}}
        br
        co2-contrasted(amount="{{artifact.annual_data.2012.co2_per_unit}}")
      p {{artifact.name}}
