h1 {{page_title}}

.artifact-cards.queue.gutters-05

  .artifact-card.queue(ng-repeat="artifact in [1,2,3,4,5,5,6,7,8.9.10]")
    .artifact-card-image.a-container.a-image-160
    .artifact-card-info.a-container
      h4 3.25 kg ()
      p Santropol coffee
