.frame
  aside.table-of-contents(style="background-color:#dceaf4;width:40%;")
    ul.nav.jar.align-right(style="list-style:none;")
      li(ng-repeat="faq in faqs"): a(href="#", ng-bind="faq.question")
  div
    .faqs.span-8
      article(ng-repeat="faq in faqs")
        header.question
          h1(ng-bind="faq.question")
        .answer(ng-bind-html="faq.answer")




