.frame.span

  .table-row
    .involvement-type
      .jar.align-right
        h2 Give us feedback
        p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    form.involvement-form
      .row.aligns-bottom
        textarea(rows=8, placeholder="Your message:").col-4
        button.btn.btn-inverse.col-4.h-push-1 Shoot

  .table-row
    .involvement-type
      .jar.align-right
        h2 Spread the word
        p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    form.involvement-form
      .row.aligns-bottom
        textarea(rows=8, placeholder="Your message:").col-4
        button.btn.btn-inverse.col-4.h-push-1 Spread the word

  .table-row
    .involvement-type
      .jar.align-right
        h2 Recruit a company
        p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    form.involvement-form
      .row.aligns-bottom
        textarea(rows=8, placeholder="Your message:").col-4
        button.btn.btn-inverse.col-4.h-push-1 Recruit company

  .table-row
    .involvement-type
      .jar.align-right
        h2 Sponsor us
        p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    form.involvement-form
      .row.aligns-bottom
        textarea(rows=8, placeholder="Your message:").col-4
        button.btn.btn-inverse.col-4.h-push-1 Sponsor us
