

//  BUTTONS
//  -------

// TODO remove c class name version
.c-btn
.btn
  user-select none
  cursor pointer
  display inline-block
  border none
  padding .75em 1.25em
  &:hover
    background-color darken(dark,10)
    color lighten(textColorLight, 10)
  &, &:active
    background-color dark
    color textColorLight

  &.btn--subtle
  &.c-btn-subtle
    background-color fade-out(dark, 0.9)
    color textColorDark
    &:hover
      background-color fade-out(dark, 0.85)
      color darken(textColorDark, 10)
    &:active
      background-color fade-out(dark, 0.65)
      color darken(textColorDark, 20)
