textarea
input
  padding xs-relative
  margin 0
  border 1px solid gray
  &:focus
    border 1px solid dark
    outline none

.input-prepend
  display table
  label
    text-align center
    width 2em
    background-color gray
  > *
    display table-cell

.control-group + .control-group
  margin-top gd(1/4)
