

!!! 5
html(ng-app="co2r", ng-controller="appController", xmlns:fb="http://ogp.me/ns/fb#")
  head
    //-
      script
        window.brunch = window.brunch || {}
        window.brunch['auto-reload'] = {enabled: true}
    link(rel="stylesheet", href="/stylesheets/app.css")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACK0sp5adiQxeaADP87y6y_tX16aBVXQU&sensor=false")
    script(src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-507eafc6229c934d")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
    title(ng-bind="appTitle + getPageTitle()")



  body(ng-class="appCssClasses", data-spy="scroll", data-target=".faq-toc")
    header.app-header.row
      a.app-brand-container.span-5.row.transparent-link(href="/")
        .app-logo
          img(src="/images/co2r-logo.png")
        .app-brand-text
          h1.text-heading4.app-title.unspaced(co2r-bind="appText.co2r")

      .app-navbar.align-right
        ul.nav.nav-list.align-right.row.aligns-middle
          li.nav-item(ng-class="{'current-view':isCurrentView(navItem.url)}", class="{{navItem.label | slugify}}",
          tooltip="navTooltipConfig(navItem)", ng-repeat="navItem in navItems")
            a.nav-link.transparent-link.aligns-middle(href="{{navItem.url}}")
              i.nav-link-icon(class="icon-{{navItem.icon}}")
              span.nav-link-text {{appText[navItem.label]}}

      a.text-small.language-switcher.c-btn.c-btn-subtle.pin-top.pin-right(ng-click="useOtherLanguage()", ng-bind="otherLanguage() | languageName")



    #app-content.app-content(ng-view="ng-view")



    footer.app-footer.group
      //- .stripe div just for decoration
      .stripe.span.pin-top

      .social-bar.social-bar-app(scroll-fix-bottom="{until:'.app-footer'}")
        .social-bar-inner.row.aligns-middle
          div(co2r-bind="appText.social_bar_text")
          .social-bar-buttons.co2r-addthis-toolbox.row.h-gutters-05

      .app-footer-content.row.group.span
        .row.h-gutters-3.align-right
          .sponsors.span-4
            a(href="{{ appText.sponsor_link }}", target="_blank")
              h4.aligns-middle
                i.icon-sign-blank
                span(co2r-bind="appText.footer_sponsor_name")
            p(co2r-bind="appText.footer_sponsor_description")
          .company.span-3
            a(href="http://takingroot.org", target="_blank"): h4.aligns-middle
              img.co2r-logo(src="/images/logo-white.png")
              span(co2r-bind="appText.footer_taking_root")
            p(co2r-bind="appText.footer_taking_root_description")
            .row.h-gutters-05(style="font-size:1.5em;")
              a.icon-envelope(href="mailto:info@takingroot.org", ui-jq="popover", title="test", data-content="moo")
              a.icon-twitter(href="https://twitter.com/takingroot")
              a.icon-facebook(href="http://www.facebook.com/TakingRoot?ref=ts")

        p.muted(co2r-bind="appText.footer_colofon")

