!!! 5
html(ng-app="co2r", ng-controller="appController")
  head
    script
      window.brunch = window.brunch || {}
      window.brunch['auto-reload'] = {enabled: true}

    link(rel="stylesheet", href="/stylesheets/app.css")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACK0sp5adiQxeaADP87y6y_tX16aBVXQU&sensor=false")
    script(src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-507eafc6229c934d")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
    script
      require('./scripts/app')
    title(ng-bind="app_title + ' - ' + page_title")

  body(ng-class="appCssClasses", data-spy="scroll", data-target=".faq-toc")



    .app-navbar.row.aligns-middle
      nav-list
        li.nav-item
          a.nav-link(href="/directory")
            img.co2r-logo(src="/images/logo-white.png")
            |  {{appText['co2r']}}
      nav-list.row.aligns-middle(items="navs.primary", text-function="appText[item]")

      nav-list.row.align-right(style="white-space:nowrap;",
      items="navs.callout", text-function="appText[item]")

    #app-content(ng-view="ng-view")

    footer.app-footer.group

      .app-footer-content.dark-theme.row.group.span
        nav-list.span-4(items="navs.footer", text-function="appText[item]")
        .row.h-gutters-3.align-right
          .sponsors.span-4
            a(href="{{ appText.sponsor_link }}", target="_blank")
              h4.aligns-middle
                i.icon-sign-blank
                span(co2r-bind="appText.footer_sponsor_name")
            p(co2r-bind="appText.footer_sponsor_description")
          .company.span-3
            a(href="http://takingroot.org", target="_blank"): h4.aligns-middle
              img.co2r-logo(src="/images/logo-white.png")
              span(co2r-bind="appText.footer_taking_root")
            p(co2r-bind="appText.footer_taking_root_description")
            .row.h-gutters-05(style="font-size:1.5em;")
              a.icon-envelope(href="mailto:info@takingroot.org", ui-jq="popover", title="test", data-content="moo")
              a.icon-twitter(href="https://twitter.com/takingroot")
              a.icon-facebook(href="http://www.facebook.com/TakingRoot?ref=ts")

        br
        br
        br
        br
        br
        br
        span(co2r-bind="appText.switch_language")
        = ' '
        a(ng-click="useOtherLanguage()", ng-bind="otherLanguage() | languageName")
        br
        p.muted(co2r-bind="appText.footer_colofon")
