


footer.app-footer.group(ng-controller="footer")
  //- .stripe div just for decoration
  .stripe.span.pin-t

  .sb.social-bar.sb-global.hidden-phone(scrollfix="{end:{element:'.app-footer', windowAnchor:'end', offset:-16}}")
    .sb__inner.social-bar-inner.hbox.--align-vm
      p.sb__text.s(bind-compile="appText.social_bar_text")
      .sb__buttons.social-bar-buttons.co2r-addthis-toolbox.hbox.h-gutters-05

  .app-footer-content.group.color-theme.green-theme
    .row
      .app-epilogue.cols5
        .owner
          a.logo-container.hbox.block(href="{{takingRoot.website_url}}", target="_blank")
            .v-span
            img.logo.logo-taking-root(ng-src="{{takingRoot.logo_url}}")
          p(bind-compile="takingRoot.partnership_description")

        .v-push-3.hidden-phone
          p.s(ng-bind-html="appText.footer_colofon")

      section.partners-container.cols6.grid-push1
        header
          h1.l(ng-bind="appText.footer_partners_title")
        .partners.row.v-push-1.grid--no-stack
          .partner.cols6(ng-repeat="partner in partners")
            a.logo-container.hbox.block(href="{{partner.website_url}}", target="_blank")
              .v-span
              img.logo(ng-src="{{partner.logo_url}}")
            .text-context
              p.s(ng-bind-html="partner.partnership_description")

      .v-push-3.visible-phone
        p.s(ng-bind-html="appText.footer_colofon")
