

//
//  Horizontal Layout
//  ------------------------------------------------------------------


//  ! see mixin for docs
//
.hbox
  inline-block-container(considerWrap:true, wrapSelector:'.wrap')
