


//
//  Hanging
//  ------------------------------------------------------------------

[class^="hang-"], [class*=" hang-"]
  position absolute

.hang-left
  left 0
  > .hang-inner
    right 0

.hang-right
  right 0
  > .hang-inner
    left 0
