header.app-header(ng-controller="header")
  .row.row--flush
    a.app-brand-container.cols6.transparent-link.row.align-middle.vpadding-m(href="/")
      .align-middle
        img(src="/images/co2r-logo.png")
      .cols6.align-middle
        h1(bind-compile="appText.co2r", style="font-size:1.5rem;")
        p.app-brand__slogan.s.hidden-phone(bind-compile="appText.branding_subtext")

    .app-navbar.align-middle.cols3
        .nav-item(
        ng-class="{'current-view':isCurrentView(navItem.url)}",
        class="{{navItem.label | slugify}}",
        ng-repeat="navItem in navItems")
          a.nav-link.transparent-link(href="{{navItem.url}}")
            i.nav-link-icon(class="icon-{{navItem.icon}}")
            span.nav-link-text {{appText[navItem.label]}}

  a.s.language-switcher.c-btn.c-btn-subtle.pin-tr(ng-click="useOtherLanguage()", ng-bind="otherLanguage() | languageName")
