
//
//  Alignment
//  ------------------------------------------------------------------

.aligns-center > *
.align-center
  margin-left auto
  margin-right auto

.aligns-right > *
.align-right
  margin-left auto!important

.aligns-middle > *
.align-middle
  vertical-align middle

.aligns-bottom > *
.align-bottom
  vertical-align bottom

.text-aligns-center > *
.text-align-center
  text-align center
