//
//  Positioning
//  ------------------------------------------------------------------


[class*="pin-"]
  position absolute

.pin-top
  top 0

.pin-left
  left 0

.pin-right
  right 0

.pin-bottom
  bottom 0
