
.faq-toc-container
  background-color grayLightest
  padding-top 2rem
  padding-bottom 2rem
@media screen-s-up
  .faq-toc-container
    border-right 1px solid darkMuted
    .nav
      margin-top 1.8rem


.faq-content-container
  background-color color-bg-base

.faq-toc-item
    a
      color lighten(textColorDark, 10)
      border-radius 0 !important
    &.active
      pointer-events none
      a:hover
        background-color hsl(194.66, 97.04%, 73.53%)
        color inherit
@media screen-xs
  .faq-toc-item.active a
    background-color transparent
    color inherit





@media screen-s-up

  body.faq .app-content
    background-image url('/images/bg.png')
    background-size 100% 100%

  .faq-toc
    &.is-scrollfix
      position fixed
      top gd(2)
      .nav
        margin-top 0
    li.active a
      background-color blue
      color dark
