
body.faq .app-content
  background-image url('/images/bg.png')
  background-size 100% 100%

.faq-toc-container
  background-color grayLightest
  padding-top 2rem
  padding-bottom 2rem
@media screen-s-up
  .faq-toc-container
    border-right 1px solid darkMuted
    .nav
      margin-top 1.8rem


.faq-content-container
  background-color color-bg-base

.faq-toc
  li a:hover
  li.active a
  li.active a:hover
    background-color transparent
    color inherit
  li a
    color lighten(textColorDark, 10)

@media screen-s-up
  .faq-toc
    &.is-scrollfix
      position fixed
      top gd(2)
      .nav
        margin-top 0
    li.active a
      background-color blue
      color dark
