
.faq-toc-container
  background-color grayLightest
  padding-top 2rem
  padding-bottom 2rem
  border-right 1px solid darkMuted
  .nav
    margin-top 1.8rem


.faq-content-container
  background-color color-bg-base

.faq-toc-item
    a
      color lighten(textColorDark, 10)
      border-radius 0 !important
      margin 0 !important
      line-height 1.5 !important
    &.active
      pointer-events none
      a:hover
        background-color hsl(194.66, 97.04%, 73.53%)
        color inherit






@media screen-s-up
  .faqs
    padding-left l !important
    padding-top m
  .faq-content-container
    padding l

  body.faq .app-content
    background-image url('/images/bg.png')
    background-size 100% 100%

  .faq-toc-container
    // undo grid system
    padding-right 0 !important

  .faq-toc
    &.is-scrollfix
      position fixed
      top gd(2)
      .nav
        margin-top 0
    li.active a
      background-color blue
      color dark

@media screen-s
  .faq-toc.is-scrollfix
    width 24.6rem

@media screen-m
  .faq-toc.is-scrollfix
    width 31.8rem

@media screen-l
  .faq-toc.is-scrollfix
    width 36.4rem
