.row-cells

  aside.faq-toc-container.cols4.hidden-phone
    .faq-toc(scrollfix="{begin:{element:'.faq-toc-container'}}")
      ul.nav.nav-pills.nav-stacked
        li.faq-toc-item(ng-repeat="faq in faqs")
          a(ng-href="#\{{faq.question | slugify}}", ng-bind-html="faq.question", smooth-scroll)

  .cols5.faq-content-container
    .faqs.v-gutters-3
      article(id="{{faq.question | slugify}}", ng-repeat="faq in faqs", spyscrollable)
        header.question
          h1.l(bind-compile="faq.question")
        .answer.v-push-1(bind-compile="faq.answer")
