


decimalToClassName(num)
  if num is 0.25
    "025"
  else if num is 0.5
    "05"
  else if num is 0.75
    "075"
  else
    num



uncascade(property, value, undo_value)
  add-property(property, value)
  & > *
    add-property(property, undo_value)



highlight(hlColor=yellow, bleedSize=0.33em)
  background-color hlColor
  box-shadow 0 0 0 bleedSize hlColor



overlay(zIndex=10)
  position relative
  &:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ""
    z-index zIndex
