


.co2-contrasted
  cursor help
  &:after
    content "\00a0 \f0c2 \00a0"
    font-family FontAwesome
    font-weight normal
    font-style normal
    display inline-block
    text-decoration inherit
