

.co2r-definition
  highlight(fade-out(grayLight, 0.9))
  color inherit
  // undo default link styling
  border-bottom none!important
  &:after
    // info icon
    content "\f05a"
    font-family FontAwesome
    font-size 0.75em
    margin-left 0.1em
  &:hover
    highlight(fade-in(grayLight, 0.75))
    color baseTextColor
