


.register__info-container
  border-top 1px solid grayMuted

.register__info-aside-container
  background-color grayLightest
  border-right 1px solid grayMuted

.register__info-aside-container
.register__info-body-container
  padding-bottom gd(6)

.register__info-body-container
  background-color color-bg-base
  padding-left gd(2)

.register__info-aside
  padding l gd(2.75) _ _
.register__info-body
  padding l _ _ l


.register__form
  margin-top gd(2.25)
  padding-left gd(1.15) !important
  textarea
    width gd(10)
  input
    width gd(10)

.register__header
  padding-top gd(3) !important

body.register-your-product
  .introduction
    margin-top -12px
    h1
      margin-top 0

@media screen-s-up
  .register__info-container
    background-image url('/images/bg.png')
    background-size 100% 100%


@media screen and (max-width: 1100px)
  body.register-your-product
    .introduction
      margin-bottom gd(1)
