
.register-info-container
  background-image url('/images/bg.png')
  background-size 100% 100%

// .register-info-container
//------------------------------------------

.register-info-container
  border-top 1px solid grayMuted

.register-info-aside
  //width 40%
  background-color grayLightest
  border-right 1px solid grayMuted

.register-info-aside
.register-info-body
  padding-bottom gd(6)

.register-info-body
  background-color color-bg-base






// .register-info-container
//------------------------------------------

body.register-your-product
  .introduction
    margin-top -12px
    h1
      margin-top 0

@media screen and (max-width: 1100px)
   /*
  .header-inner
    width 500px
   */

  body.register-your-product
    .introduction
      margin-bottom gd(1)
    form
      margin-left 0!important
