header
  .register__header.row.vpadding-l

    .introduction.cols4
      h1
        i.icon-file
        | 
        span(bind-compile="appText.register_your_product")
      p(bind-compile="appText.register_introduction")

    form.register__form.vintage-box-models.cols7(ng-submit="sendForm()", name="artifactRegistrationForm")
      .h-gutters-1.hbox
        textarea(rows="9", placeholder="{{appText.your_message}}", ng-model="org.message", required)
        div
          .control-group
            .input-prepend
              label.add-on(for="name"): i.icon-user
              input#name(type="text", placeholder="{{appText.name_or_organization}}", ng-model="org.name", required)
          .control-group
            .input-prepend
              label.add-on(for="email"): i.icon-envelope
              input#email(type="email", placeholder="{{appText.email}}", ng-model="org.email", required)
          .control-group
            .input-prepend
              label.add-on(for="phone"): i.icon-phone
              input#phone(type="text", placeholder="{{appText.phone}}", ng-model="org.phone", required)
          .control-group
            button.btn.span(style="box-sizing:border-box;", ng-bind="appText.inquire", ng-disabled="!artifactRegistrationForm.$valid")


section.register__info-container
  .row-cells
    aside.register__info-aside-container.cols4.text-context
      .register__info-aside(bind-compile="appText.register_artifact_left_column")
    article.register__info-body-container.cols6
      .register__info-body.text-container(bind-compile="appText.register_artifact_right_body")



.post-artifact-registration-message.modal(style="display:none")
  .modal-header
    button.close(data-dismiss="modal") &times;
    h1 Thank-you!
  .modal-body
    p
      | Your registration request has been sent!
      br
      | This is the email that you sent:
    pre(ng-bind-html="email.message")
