



//
//  Twitter Timeline
//  ---------------------------------



.twitter-timeline
  header
    padding xs m
    background-color white
    .title
      vertical-align middle
    i
      margin-right s
      font-size l
      color blue
      vertical-align middle

.tweet-items {}

.tweet-item
  margin-top 2px

.tweet-item-inner
  padding m
  background-color white
