


// grid units
gd(n=1)
  grid-unit * n


cols(n=1)
  columnSize = gd(n*grid-column-unit-count)
  // -1 because there is no gutter for the first/a single column
  gutterSize = gd(n - 1)
  columnSize + gutterSize


fluid-columns(columnsCount=1)
  spanWidth = unit((columnsCount / grid-row-column-count) * 100, '%')

  //  return
  //
  spanWidth
