baseTextSize        = 16px
// for 16px, 30px line-height
baseTextLineHeight  = 1.875
gridUnit            = baseTextLineHeight*baseTextSize
gridUnitsPerColumn  = 3

//  Grid Variables
//
columnsCountTotal  = 12
columnsGutterWidth = 2rem
grid-gutter-width  = columnsGutterWidth
grid-gutter-size   = columnsGutterWidth
