

body.participate .app-content
  background-image url('/images/bg.png')
  background-size 100% 100%

body.participate .involvement-type
  border-right 1px solid darkMuted
  background-color grayLightest

@media screen-s-up
  body.participate .involvement-type-inner
    max-width 400px
    float right


body.participate
  .involvement-form
    button
      height 3rem

  section.can-do
    border-bottom 1px solid darkMuted
    &:last-child .involvement-type
      padding-bottom 12rem
