


//
//  ! See mixin for docs
//
.stop-collapse
  stop-collapse()

//
//  Remove link styling
//
.transparent-link
  color inherit
  &:hover
    color inherit

//
//  Hide from screenreaders and browsers
//  Credit: HTML5 Boilerplate
//
.hidden
  display none
  visibility hidden
