@import 'functions/helpers'
@import 'functions/prefix-free'
@import 'functions/percentage'
@import 'functions/shapes'


//  TODO
//  If I do
//  @import 'functions'
//  Something doesn't work with the gruntfile import option
//  Artifact cards get square: compiled into their source
